.vacansy
  a.breadcrumbs__item.container(href="index.html") Назад
  .vacansy__container.container

    .vacansy__data
      h1.vacansy__title Водитель клаб-кара (на сезон)
      .vacansy__advantages
        span.vacansy__advantages-item Достойная зарплата
        span.vacansy__advantages-item Сменный график

      .vacansy__section.vacansy-section
        h2.vacansy-section__title Требования
        ul.vacansy-section__list
          li.vacansy-section__item Водительский стаж от 1 года
          li.vacansy-section__item Грамотная речь, клиентоориентированность

      .vacansy__section.vacansy-section
        h2.vacansy-section__title Обязанности
        ul.vacansy-section__list
          li.vacansy-section__item Перевозка гостей по территории комплекса на клаб-каре (электромобиле)
          li.vacansy-section__item Обслуживание клаб-кара, поддержание клаб-кара в чистоте
          li.vacansy-section__item Водительское удостоверение (категория В)

      .vacansy__section.vacansy-section
        h2.vacansy-section__title Условия
        ul.vacansy-section__list
          li.vacansy-section__item Сменный график работы
          li.vacansy-section__item Жилье или компенсация съемной квартиры
          li.vacansy-section__item Питание на территории отеля
          li.vacansy-section__item Трансфер до места работы
          li.vacansy-section__item Компенсация переезда в Ялту
          li.vacansy-section__item Официальное трудоустройство
          li.vacansy-section__item Достойная зарплата
          li.vacansy-section__item Возможность карьерного и профессионального роста
          li.vacansy-section__item Регистрация для иностранных граждан
          li.vacansy-section__item Компенсация 50% стоимости занятий на Skyeng
          li.vacansy-section__item Большой и дружный коллектив
          li.vacansy-section__item Клубы и секции по интересам
          li.vacansy-section__item Помощь на всех этапах прибытия в Крым
          li.vacansy-section__item Тренинги, семинары и вебинары от Академии Гостеприимства
          li.vacansy-section__item Бонусы и скидки на услуги курорта



    .vacansy__hr.vacansy-hr
      h2.vacansy-hr__title Контакты HR
      .vacansy-hr__data
        .vacansy-hr__person.vacansy-hr-person
          .vacansy-hr-person__image
            img(src="./assets/img/contacts/01.jpg")
          b.vacansy-hr-person__name Константинопольский Константин
          span.vacansy-hr-person__post Сотрудник отдела кадров
        .vacansy-hr__contacts.vacansy-hr-contacts
          a.vacansy-hr-contacts__item(href="tel:88005505271") 8 800 550-52-71
          a.vacansy-hr-contacts__item(href="mailto:job@mriyaresort.com") job@mriyaresort.com

      .button.button--accent.vacansy-hr__button Откликнуться на вакансию




