.vacansy
  .container.vacansy__container
    h2.title-section.vacansy__title Актуальные и популярные вакансии

    .vacansy__content

      .vacansy__slider.swiper
        .vacansy__list.swiper-wrapper

          .vacansy__item.swiper-slide
            img.vacansy__image(src="../assets/img/vacansy/01.jpg")
            .vacansy__info
              span.vacansy__name Водитель клаб-кара
              span.vacansy__salary от 50 000 Р

          .vacansy__item.swiper-slide
            img.vacansy__image(src="../assets/img/vacansy/02.jpg")
            .vacansy__info
              span.vacansy__name Горничная
              span.vacansy__salary от 40 000 Р

          .vacansy__item.swiper-slide
            img.vacansy__image(src="../assets/img/vacansy/03.jpg")
            .vacansy__info
              span.vacansy__name Агент по бронированию
              span.vacansy__salary от 80 000 Р

          .vacansy__item.swiper-slide
            img.vacansy__image(src="../assets/img/vacansy/04.jpg")
            .vacansy__info
              span.vacansy__name Садовник
              span.vacansy__salary от 70 000 Р

          .vacansy__item.swiper-slide
            img.vacansy__image(src="../assets/img/vacansy/01.jpg")
            .vacansy__info
              span.vacansy__name Водитель клаб-кара
              span.vacansy__salary от 50 000 Р

          .vacansy__item.swiper-slide
            img.vacansy__image(src="../assets/img/vacansy/02.jpg")
            .vacansy__info
              span.vacansy__name Горничная
              span.vacansy__salary от 40 000 Р



        .slider-nav__prev
          svg(width="8" height="12" stroke="#393737")
            use(href='./assets/img/sprite.svg#arrow-nav-left')
        .slider-nav__next
          svg(width="8" height="12" stroke="#393737")
            use(href='./assets/img/sprite.svg#arrow-nav-left')

        .swiper-scrollbar
