.student-career
  .student-career__container.container
    .student-career__header
      h2.title-section Карьера в Mriya
      p.student-career__subtitle Следите за насыщенной жизнью Mriya Resort & Spa и оставайтесь в курсе последних событий

      ul.student-career__social.student-career-social
        li.student-career-social__item.button.student-career-social__item--vk
          a.student-career-social__link(href="") Вконтакте
        li.student-career-social__item.button.student-career-social__item--instagram
          a.student-career-social__link(href="") Instagram

    .student-career__images.student-career-images
      .student-career-images__container
        .swiper-wrapper

          .swiper-slide.student-career-images__slide
            img(src="./assets/img/student/02.jpg")

          .swiper-slide.student-career-images__slide
            img(src="./assets/img/student/03.jpg")

          .swiper-slide.student-career-images__slide
            img(src="./assets/img/student/04.jpg")

          .swiper-slide.student-career-images__slide
            img(src="./assets/img/student/05.jpg")

          .swiper-slide.student-career-images__slide
            img(src="./assets/img/student/01.jpg")

          .swiper-slide.student-career-images__slide
            img(src="./assets/img/student/02.jpg")

          .swiper-slide.student-career-images__slide
            img(src="./assets/img/student/03.jpg")

          .swiper-slide.student-career-images__slide
            img(src="./assets/img/student/04.jpg")

          .swiper-slide.student-career-images__slide
            img(src="./assets/img/student/05.jpg")

          .swiper-slide.student-career-images__slide
            img(src="./assets/img/student/01.jpg")

