.review(style="background-image: url('./assets/img/review.gif')")
  .review__container.container
    h2.review__title Ведущий курорт в Крыму
      br
      |и один из лучших в мире
    .review__buttons
      a.button.button--accent(href="") О нас
      a.button Видео-обзор курорта

