.stories
  .stories__body
    .stories__close
      svg(width="22" height="22" fill="#fff")
        use(href='./assets/img/sprite.svg#close-menu')

    ul.stories__timeline.stories-timeline

      li.stories-timeline__item
        .stories-timeline__item-inner

      li.stories-timeline__item
        .stories-timeline__item-inner


    .stories__content-wrapper.stories-content-wrapper
      button.stories-content__switcher.stories-content__switcher--prev(tabindex="-1")
      button.stories-content__switcher.stories-content__switcher--next


      .stories-content
        .stories-content__item.stories-content-item
          img.stories-content-item__image(src="./assets/img/stories/01.jpg" alt="photo")
          b.stories-content-item__name Елена
          span.stories-content-item__post шеф-повар
          button.button.button--accent.stories-content-item__button Вакансии ресторанов


        .stories-content__item.stories-content-item
          img.stories-content-item__image(src="./assets/img/stories/02.jpg" alt="photo")
          b.stories-content-item__name Александр
          span.stories-content-item__post менеджер зала
          button.button.button--accent.stories-content-item__button Вакансии офиса



