.stories(data-stories="1")
  .stories__body
    button.stories__close

    ul.stories__timeline.stories-timeline

    .stories__content-wrapper.stories-content-wrapper

      +storiesContentSwitchers

      .stories-content

        .stories-content__item.stories-content-item.stories-content-item--image-text
          .stories-content-item__wrapper
            .stories-content-item__image
              img(src="./assets/img/stories/03.jpg" alt="Чалая Екатерина")
            span.stories-content-item__name Чалая Екатерина
            p.stories-content-item__info От аниматора до директора департамента номерного фонда и транспорта
            blockquote.stories-content-item__quote В Мрии я прошла колоссальный путь развития не только как сотрудник, но и как личность! Огромная гордость осознавать, что являешься частью такой команды — большой семьи!
            a.button.button--accent.stories-content-item__button(href="vacancies.html") Вакансии

        //.stories-content__item.stories-content-item.stories-content-item--video
        //  video.stories-content-item__video
        //    source(src='./assets/video/Ismet.mp4' type='video/mp4')
        //  b.stories-content-item__name Исмет
        //  span.stories-content-item__post менеджер Японского сада
        //  a.button.button--accent.stories-content-item__button(href="vacancies.html") Вакансии офиса

        .stories-content__item.stories-content-item.stories-content-item--image-text
          .stories-content-item__wrapper
            .stories-content-item__image
              img(src="./assets/img/stories/kuku.jpg" alt="Куку Ибраим")
            span.stories-content-item__name Куку Ибраим
            p.stories-content-item__info От водителя до менеджера проектов
            blockquote.stories-content-item__quote Если вы хотите быть лучшим, учитесь у лучших, никогда не сдавайтесь и идите к своей цели. Компания Mriya Resort — уникальный, быстрорастущий бизнес, и если вы готовы упорно работать и развиваться, то нам по пути.
            a.button.button--accent.stories-content-item__button(href="vacancies.html") Вакансии

        .stories-content__item.stories-content-item.stories-content-item--image-text
          .stories-content-item__wrapper
            .stories-content-item__image
              img(src="./assets/img/stories/fedorov.jpg" alt="Федоров Евгений")
            span.stories-content-item__name Федоров Евгений
            p.stories-content-item__info От официанта до заместителя менеджера вилл
            blockquote.stories-content-item__quote Я очень благодарен руководству отеля за столь разнообразную, интересную работу, что не смотря на немалое количество мною допущенных ошибок, всегда можно ощущать поддержку.
            a.button.button--accent.stories-content-item__button(href="vacancies.html") Вакансии

        .stories-content__item.stories-content-item.stories-content-item--image-text
          .stories-content-item__wrapper
            .stories-content-item__image
              img(src="./assets/img/stories/popov.jpg" alt="Попов Никита")
            span.stories-content-item__name Попов Никита
            p.stories-content-item__info От спасателя до руководителя отдела рекреации
            blockquote.stories-content-item__quote С самого начала я делал все от меня зависящее и немного больше! Это залог успеха и карьерного роста в Мрии! Всем друзьям и знакомым рекомендую для работы это градообразующее и самое быстро развивающееся предприятие в Крыму.
            a.button.button--accent.stories-content-item__button(href="vacancies.html") Вакансии

        //.stories-content__item.stories-content-item.stories-content-item--video
        //  video.stories-content-item__video
        //    source(src='./assets/video/Alina.mp4' type='video/mp4')
        //  b.stories-content-item__name Алина
        //  span.stories-content-item__post зам. руководителя службы фронт-офис
        //  a.button.button--accent.stories-content-item__button(href="vacancies.html") Вакансии ресторанов



.stories(data-stories="2")
  .stories__body
    button.stories__close

    ul.stories__timeline.stories-timeline

    .stories__content-wrapper.stories-content-wrapper

      +storiesContentSwitchers

      .stories-content

        .stories-content__item.stories-content-item.stories-content-item--image-text
          .stories-content-item__wrapper
            .stories-content-item__image
              img(src="./assets/img/stories/03.jpg" alt="Чалая Екатерина")
            span.stories-content-item__name Чалая Екатерина
            p.stories-content-item__info От аниматора до директора департамента номерного фонда и транспорта
            blockquote.stories-content-item__quote В Мрии я прошла колоссальный путь развития не только как сотрудник, но и как личность! Огромная гордость осознавать, что являешься частью такой команды — большой семьи!
            a.button.button--accent.stories-content-item__button(href="vacancies.html") Вакансии

        //.stories-content__item.stories-content-item.stories-content-item--video
        //  video.stories-content-item__video
        //    source(src='./assets/video/Ismet.mp4' type='video/mp4')
        //  b.stories-content-item__name Исмет
        //  span.stories-content-item__post менеджер Японского сада
        //  a.button.button--accent.stories-content-item__button(href="vacancies.html") Вакансии офиса

        .stories-content__item.stories-content-item.stories-content-item--image-text
          .stories-content-item__wrapper
            .stories-content-item__image
              img(src="./assets/img/stories/kuku.jpg" alt="Куку Ибраим")
            span.stories-content-item__name Куку Ибраим
            p.stories-content-item__info От водителя до менеджера проектов
            blockquote.stories-content-item__quote Если вы хотите быть лучшим, учитесь у лучших, никогда не сдавайтесь и идите к своей цели. Компания Mriya Resort — уникальный, быстрорастущий бизнес, и если вы готовы упорно работать и развиваться, то нам по пути.
            a.button.button--accent.stories-content-item__button(href="vacancies.html") Вакансии

        .stories-content__item.stories-content-item.stories-content-item--image-text
          .stories-content-item__wrapper
            .stories-content-item__image
              img(src="./assets/img/stories/fedorov.jpg" alt="Федоров Евгений")
            span.stories-content-item__name Федоров Евгений
            p.stories-content-item__info От официанта до заместителя менеджера вилл
            blockquote.stories-content-item__quote Я очень благодарен руководству отеля за столь разнообразную, интересную работу, что не смотря на немалое количество мною допущенных ошибок, всегда можно ощущать поддержку.
            a.button.button--accent.stories-content-item__button(href="vacancies.html") Вакансии

        .stories-content__item.stories-content-item.stories-content-item--image-text
          .stories-content-item__wrapper
            .stories-content-item__image
              img(src="./assets/img/stories/popov.jpg" alt="Попов Никита")
            span.stories-content-item__name Попов Никита
            p.stories-content-item__info От спасателя до руководителя отдела рекреации
            blockquote.stories-content-item__quote С самого начала я делал все от меня зависящее и немного больше! Это залог успеха и карьерного роста в Мрии! Всем друзьям и знакомым рекомендую для работы это градообразующее и самое быстро развивающееся предприятие в Крыму.
            a.button.button--accent.stories-content-item__button(href="vacancies.html") Вакансии






