.stories(data-stories="1")
  .stories__body
    .stories__close
      svg(width="22" height="22" fill="#fff")
        use(href='./assets/img/sprite.svg#close-menu')

    ul.stories__timeline.stories-timeline

    .stories__content-wrapper.stories-content-wrapper

      +storiesContentSwitchers

      .stories-content

        .stories-content__item.stories-content-item.stories-content-item--video
          video.stories-content-item__video(muted)
            source(src='./assets/video/Alina.mp4' type='video/mp4')
          b.stories-content-item__name Алина
          span.stories-content-item__post зам. руководителя службы фронт-офис
          a.button.button--accent.stories-content-item__button(href="vacancies.html") Вакансии офиса

        .stories-content__item.stories-content-item.stories-content-item--image-text
          .stories-content-item__wrapper
            .stories-content-item__image
              img(src="./assets/img/stories/03.jpg" alt="photo")
            span.stories-content-item__name Чалая Екатерина
            p.stories-content-item__info От аниматора до директора департамента номерного фонда и транспорта
            blockquote.stories-content-item__quote В Мрии я прошла колоссальный путь развития не только как сотрудник, но и как личность! Огромная гордость осознавать, что являешься частью такой команды — большой семьи!
            a.button.button--accent.stories-content-item__button(href="vacancies.html") Вакансии

        .stories-content__item.stories-content-item.stories-content-item--video
          video.stories-content-item__video
            source(src='./assets/video/Anna.mp4' type='video/mp4')
          b.stories-content-item__name Анна
          span.stories-content-item__post менеджер по управлению обратной связью
          a.button.button--accent.stories-content-item__button(href="vacancies.html") Вакансии ресторанов



.stories(data-stories="2")
  .stories__body
    .stories__close
      svg(width="22" height="22" fill="#fff")
        use(href='./assets/img/sprite.svg#close-menu')

    ul.stories__timeline.stories-timeline

    .stories__content-wrapper.stories-content-wrapper

      +storiesContentSwitchers

      .stories-content

        .stories-content__item.stories-content-item.stories-content-item--image-text
          .stories-content-item__wrapper
            .stories-content-item__image
              img(src="./assets/img/stories/03.jpg" alt="photo")
            span.stories-content-item__name Чалая Екатерина
            p.stories-content-item__info От аниматора до директора департамента номерного фонда и транспорта
            blockquote.stories-content-item__quote В Мрии я прошла колоссальный путь развития не только как сотрудник, но и как личность! Огромная гордость осознавать, что являешься частью такой команды — большой семьи!
            a.button.button--accent.stories-content-item__button(href="vacancies.html") Вакансии

        .stories-content__item.stories-content-item.stories-content-item--video
          video.stories-content-item__video
            source(src='./assets/video/Ismet.mp4' type='video/mp4')
          b.stories-content-item__name Исмет
          span.stories-content-item__post менеджер Японского сада
          a.button.button--accent.stories-content-item__button(href="vacancies.html") Вакансии офиса

        .stories-content__item.stories-content-item.stories-content-item--image-text
          .stories-content-item__wrapper
            .stories-content-item__image
              img(src="./assets/img/stories/03.jpg" alt="photo")
            span.stories-content-item__name Чалая Екатерина
            p.stories-content-item__info От аниматора до директора департамента номерного фонда и транспорта
            blockquote.stories-content-item__quote В Мрии я прошла колоссальный путь развития не только как сотрудник, но и как личность! Огромная гордость осознавать, что являешься частью такой команды — большой семьи!
            a.button.button--accent.stories-content-item__button(href="vacancies.html") Вакансии

        .stories-content__item.stories-content-item.stories-content-item--video
          video.stories-content-item__video
            source(src='./assets/video/Alina.mp4' type='video/mp4')
          b.stories-content-item__name Алина
          span.stories-content-item__post зам. руководителя службы фронт-офис
          a.button.button--accent.stories-content-item__button(href="vacancies.html") Вакансии ресторанов





