.faq
  .faq__container.container
    h2.title-section Ответы на часто-задаваемые вопросы

    .accordion
      ul.accordion__list

        li.accordion__item
          p.accordion__title Где я буду жить?
            +iconPlus
          .accordion__content
            p Мы предоставляем место для проживания в корпоративных общежитиях, которые находятся в Ялте и Большой Ялте. Размещение по 2–4 человека в комнате. Для того, чтобы вам и вашим соседям было комфортно, обязательно соблюдайте правила проживания в корпоративном общежитии.

        li.accordion__item
          p.accordion__title Как добраться до места будущего проживания в Крыму?
            +iconPlus
          .accordion__content
            p Конкурентная белая зарплата согласно ТК РФ. Регулярные бонусы и премии

        li.accordion__item
          p.accordion__title Нужна ли прививка от COVID-19 для трудоустройства?
            +iconPlus
          .accordion__content
            p Конкурентная белая зарплата согласно ТК РФ. Регулярные бонусы и премии

        li.accordion__item
          p.accordion__title Сколько раз кормят во время работы?
            +iconPlus
          .accordion__content
            p Конкурентная белая зарплата согласно ТК РФ. Регулярные бонусы и премии

        li.accordion__item
          p.accordion__title Вы предоставляете униформу?
            +iconPlus
          .accordion__content
            p Конкурентная белая зарплата согласно ТК РФ. Регулярные бонусы и премии

        li.accordion__item
          p.accordion__title Есть ли семейные номера для проживания сотрудников?
            +iconPlus
          .accordion__content
            p Конкурентная белая зарплата согласно ТК РФ. Регулярные бонусы и премии

        li.accordion__item
          p.accordion__title Я еду на мед осмотр и стажировку за свой счет?
            +iconPlus
          .accordion__content
            p Конкурентная белая зарплата согласно ТК РФ. Регулярные бонусы и премии

        li.accordion__item
          p.accordion__title За чей счет проводится мед.осмотр?
            +iconPlus
          .accordion__content
            p Конкурентная белая зарплата согласно ТК РФ. Регулярные бонусы и премии

        li.accordion__item
          p.accordion__title Можно ли к вам трудоустроиться неофициально?
            +iconPlus
          .accordion__content
            p Конкурентная белая зарплата согласно ТК РФ. Регулярные бонусы и премии

        li.accordion__item
          p.accordion__title Компенсации точно не вычитаются из заработной платы?
            +iconPlus
          .accordion__content
            p Конкурентная белая зарплата согласно ТК РФ. Регулярные бонусы и премии

        li.accordion__item
          p.accordion__title Возможно ли заселиться в общежитие с ребенком и кошкой?
            +iconPlus
          .accordion__content
            p Конкурентная белая зарплата согласно ТК РФ. Регулярные бонусы и премии


    .faq__feedback.faq-feedback
      img(src="./assets/img/faq-feedback.png")
      .faq-feedback__text
        b Не можете найти ответ на свой вопрос?
        p Пожалуйста напишите нам, ответим как можно быстрее
      button.button.button--accent Задать вопрос

