.container
  .faq
    .faq__container
      h2.title-section.faq__title Ответы на часто-задаваемые вопросы

      .accordion
        ul.accordion__list

          li.accordion__item
            p.accordion__title Где я буду жить?
              //+iconPlus
              include ../../img/icons/accordionPlus.svg
            .accordion__content
              p Мы предоставляем место для проживания в корпоративных общежитиях, которые находятся в Ялте и Большой Ялте. Размещение по 2–4 человека в комнате. Для того, чтобы вам и вашим соседям было комфортно, обязательно соблюдайте правила проживания в корпоративном общежитии.

          li.accordion__item
            p.accordion__title Как мне добраться от аэропорта?
              include ../../img/icons/accordionPlus.svg
            .accordion__content
              p Наши кандидаты самостоятельно добираются до места будущего проживания в Крыму различными видами транспорта, но мы поможем с логистикой и расскажем, как удобнее доехать до места.

          li.accordion__item
            p.accordion__title Нужна ли прививка от COVID-19 для трудоустройства?
              include ../../img/icons/accordionPlus.svg
            .accordion__content
              p Нужна. Мы заботимся о здоровье наших сотрудников и гостей курорта. Кроме того, отсутствие профилактических прививок может быть основанием для отказа в приеме на работу, выполнение которой связано с высоким риском заболевания инфекционными болезнями (п. 2 ст. 5 Федерального закона от 17.09.1998 № 157). Перечень таких работ утвержден постановлением Правительства РФ от 15.07.1999 № 825. Вакцинацию от коронавируса внесли в календарь профилактических прививок по эпидемиологическим показаниям. «Она становится обязательной, если в субъекте вынесено соответствующее постановление главного санитарного врача о вакцинации отдельных категорий граждан», сказано в пояснениях Роструда. Поэтому работодатель вправе отстранить сотрудника без сохранения заработной платы, и речь идет в том числе и о тех, которые работают удаленно и не имеют противопоказаний к прививке.

          li.accordion__item
            p.accordion__title Сколько раз кормят во время работы?
              include ../../img/icons/accordionPlus.svg
            .accordion__content
              p В зависимости от вашего графика работы: для сотрудников с графиком 5/2 предусмотрены обеды, а если ваш график 2/2 или 3/1 – обеды и ужины.

          li.accordion__item
            p.accordion__title Вы предоставляете униформу?
              include ../../img/icons/accordionPlus.svg
            .accordion__content
              p Да, мы выдаем униформу (кроме обуви) всем сотрудникам, которым она требуется по должности.

          li.accordion__item
            p.accordion__title Есть ли семейные номера для проживания сотрудников?
              include ../../img/icons/accordionPlus.svg
            .accordion__content
              p У нас нет семейных комнат в общежитии для сотрудников. В исключительных случаях, при наличии свободных 2-х местных комнат, мы стараемся идти навстречу супружеским парам и заселяем мужа и жену вместе.

          li.accordion__item
            p.accordion__title Я еду на медосмотр и стажировку за свой счет?
              include ../../img/icons/accordionPlus.svg
            .accordion__content
              p Да, будущий сотрудник самостоятельно добирается до места прохождения медицинского профилактического осмотра, самостоятельно приезжает на стажировку (стажировка только для кандидатов, проживающих в Крыму).

          li.accordion__item
            p.accordion__title За чей счет проводится медосмотр?
              include ../../img/icons/accordionPlus.svg
            .accordion__content
              p Мы выдаем направление и будущий кандидат проходит медосмотр за счет работодателя.

          li.accordion__item
            p.accordion__title Можно ли к вам трудоустроиться неофициально?
              include ../../img/icons/accordionPlus.svg
            .accordion__content
              p Нет. Мы «белая» компания и нанимаем работников согласно трудовому кодексу РФ.

          li.accordion__item
            p.accordion__title У меня есть татуировки и пирсинг — это может быть причиной отказа?
              include ../../img/icons/accordionPlus.svg
            .accordion__content
              p Мы рассматриваем исключительно профессиональные качества соискателей и не запрещаем самовыражаться через искусство росписи по телу и пирсинга. При этом искренне надеемся на ваше понимание и просим соблюдать правила внутреннего распорядка и требования дресс-кода — все тату, пирсинги и прочие модификации должны быть скрыты под одеждой или иными способами.

          li.accordion__item
            p.accordion__title Компенсации точно не вычитаются из заработной платы?
              include ../../img/icons/accordionPlus.svg
            .accordion__content
              p Точно. У наших сотрудников есть фиксированный оклад и дополнительные выплаты, в которые могут входить компенсация аренды жилья, премии и надбавки.

          li.accordion__item
            p.accordion__title Возможно ли заселиться в общежитие с ребенком и кошкой?
              include ../../img/icons/accordionPlus.svg
            .accordion__content
              p К сожалению, нет — это исключено. Правила проживания в корпоративном общежитии исключают заселение с детьми и домашними животными.

