.privacy-policy
  a.breadcrumbs__item.container(href="index.html") Назад
  .privacy-policy__container.container
    h1.privacy-policy__title Политика в отношении обработки персональных данных в ООО «ГАРАНТ-СВ»

    ol.privacy-policy__list

      li.privacy-policy__item.privacy-policy__item--title Общие положения
        ol
          li.privacy-policy__item Настоящий документ (далее - Политика) определяет политику в отношении обработки персональных данных Общества с ограниченной ответственностью «ГАРАНТ-СВ», расположенного по адресу 298688, Россия, Республика Крым, Ялта, с. Оползневое, улица Генерала Острякова, 9 (далее – Оператор).
          li.privacy-policy__item Настоящая Политика разработана во исполнение требований п. 2 ч. 1 ст. 18.1 Федерального закона от 27.07.2006 № 152-ФЗ «О персональных данных» (далее – Закон о персональных данных).
          li.privacy-policy__item Понятия, содержащиеся в ст. 3 Закона о персональных данных, используются в настоящей Политике с аналогичным значением.
          li.privacy-policy__item Действие настоящей Политики распространяется на все операции, совершаемые Оператором с персональными данными с использованием средств автоматизации или без их использования.
          li.privacy-policy__item Основные права и обязанности Оператора.
            ol
              li.privacy-policy__item Оператор имеет право:
                p.privacy-policy__item-text - получать от субъекта персональных данных достоверные информацию и/или документы, содержащие персональные данные;
                p.privacy-policy__item-text - требовать от субъекта персональных данных своевременного уточнения предоставленных персональных данных.

              li.privacy-policy__item Оператор обязан:
                p.privacy-policy__item-text - обрабатывать персональные данные в порядке, установленном действующим законодательством РФ;
                p.privacy-policy__item-text - рассматривать обращения субъекта персональных данных (его законного представителя) по вопросам обработки персональных данных и давать мотивированные ответы;
                p.privacy-policy__item-text - предоставлять субъекту персональных данных (его законному представителю) возможность безвозмездного доступа к его персональным данным;
                p.privacy-policy__item-text - принимать меры по уточнению, уничтожению персональных данных субъекта персональных данных в связи с его (его законного представителя) обращением с законными и обоснованными требованиями;
                p.privacy-policy__item-text - организовывать защиту персональных данных в соответствии с требованиями законодательства РФ.


          li.privacy-policy__item Основные права и обязанности субъектов персональных данных:
            ol
              li.privacy-policy__item Субъекты персональных данных имеют право:
                p.privacy-policy__item-text - на полную информацию об их персональных данных, обрабатываемых Оператором;
                p.privacy-policy__item-text - на доступ к их персональным данным, включая право на получение копии любой записи, содержащей их персональные данные, за исключением случаев, предусмотренных федеральным законом;
                p.privacy-policy__item-text - на уточнение их персональных данных, их блокирование или уничтожение в случаях, если персональные данные являются неполными, устаревшими, неточными, незаконно полученными или не являются необходимыми для заявленной цели обработки;
                p.privacy-policy__item-text - на отзыв согласия на обработку персональных данных;
                p.privacy-policy__item-text - на принятие предусмотренных законом мер по защите своих прав;
                p.privacy-policy__item-text - на осуществление иных прав, предусмотренных законодательством РФ.

              li.privacy-policy__item Субъекты персональных данных обязаны:
                p.privacy-policy__item-text - предоставлять Оператору только достоверные данные о себе;
                p.privacy-policy__item-text - предоставлять документы, содержащие персональные данные в объеме, необходимом для цели обработки;
                p.privacy-policy__item-text - сообщать Оператору об уточнении (обновлении, изменении) своих персональных данных.

              li.privacy-policy__item Лица, передавшие Оператору недостоверные сведения о себе, либо сведения о другом субъекте персональных данных без согласия последнего, несут ответственность в соответствии с законодательством РФ.

      li.privacy-policy__item.privacy-policy__item--title Объем и категории обрабатывае
