.mass-media
  .mass-media__container.container
    p.mass-media__title О нас пишут

    ul.mass-media__list

      li.mass-media__item
        a.mass-media__link(href="")
          img(src="./assets/img/mass-media/01.svg")

      li.mass-media__item
        a.mass-media__link(href="")
          img(src="./assets/img/mass-media/02.svg")

      li.mass-media__item
        a.mass-media__link(href="")
          img(src="./assets/img/mass-media/03.svg")

      li.mass-media__item
        a.mass-media__link(href="")
          img(src="./assets/img/mass-media/04.svg")

      li.mass-media__item
        a.mass-media__link(href="")
          img(src="./assets/img/mass-media/05.svg")
