.article
  .article__container.container
    h1 Длинный заголовок статьи, занимающий несколько строк для проверки

    img(src="./assets/img/advantages/03.jpg")

    h2 Заголовок

    p Et nunc rhoncus enim porttitor posuere tortor. Eu sed egestas quis sagittis purus urna tellus. Faucibus suspendisse viverra rutrum pulvinar. Ac enim lacus bibendum senectus eu pellentesque morbi consectetur porttitor. Et morbi dolor tincidunt ullamcorper sapien justo pharetra ullamcorper massa. Adipiscing etiam elit risus phasellus. Viverra enim tempus ante iaculis. Nisl rhoncus euismod gravida tellus in. Sodales varius eget porta elementum. Ipsum dignissim sit gravida ac vitae turpis elit. Ut viverra bibendum cras cras.
    p Et nunc rhoncus enim porttitor posuere tortor. Eu sed egestas quis sagittis purus urna tellus. Faucibus suspendisse viverra rutrum pulvinar. Ac enim lacus bibendum senectus eu pellentesque morbi consectetur porttitor. Et morbi dolor tincidunt ullamcorper sapien justo pharetra ullamcorper massa. Adipiscing etiam elit risus phasellus. Viverra enim tempus ante iaculis. Nisl rhoncus euismod gravida tellus in. Sodales varius eget porta elementum. Ipsum dignissim sit gravida ac vitae turpis elit. Ut viverra bibendum cras cras.

    h3 Подзаголовок

    ul
      li Перевозка гостей по территории комплекса на клаб-каре (электромобиле)
      li Обслуживание клаб-кара, поддержание клаб-кара в чистоте
      li Водительское удостоверение (категория В)

    figure
      img(src="./assets/img/advantages/03.jpg")
      figcaption Подпись к фотографии

    blockquote
      p Cras dapibus id tristique non nunc. Pellentesque amet risus tellus morbi sed convallis nisi nunc. Sit viverra diam tellus etiam mauris vitae nisl odio ipsum. Urna non amet habitant pellentesque. Tristique facilisi ut sodales facilisis quis nunc bibendum cursus aliquam. Enim dignissim blandit ut ut amet lacus posuere morbi purus.  - John Doe



