.article
  a.breadcrumbs__item.container(href="index.html") Назад
  .article__container.container
    h1.article__title Научная статья на тему «Проблема распространения рекламных рассылок на законных основаниях»

    .article__content
      p В последнее время рекламодатели проявляют повышенный интерес к формам рекламирования, которые сочетают в себе высокую эффективность и минимальные расходы на создание и распространение. Одним из таких видов недорогой и в то же время достаточно широкой по возможности охвата аудитории рекламы можно назвать рекламные рассылки по электронной почте. Однако в отношении интернет — рассылок законодательство помимо общих требований к рекламе, таких как достоверность, добросовестность, полнота информации содержит также специальные положения. О том, как соблю- сти требования законодательства и что грозит нарушившей их компании, рассмотрим в данной статье.
      p Одним их обязательных условий является наличие согласия адресата на получение рассылок. В соответствии с частью 1 статьи 18 Федерального закона от 13.03.06 № 38-ФЗ «О рекламе» (далее – закон № 38-ФЗ) распространение рекламы по сетям электросвязи, в том числе посредством использования телефонной, факсимильной, подвижной радиотелефонной связи, возможно исключительно при условии предварительного согласия адресата на получение рекламы
      img(src="./assets/img/advantages/03.jpg")
      p Изначально формулировка вышеуказанной нормы закона № 38-ФЗ вызывала споры о том, можно ли под «рассылками по сетям электросвязи» понимать рассылки, которые осуществляются посредством сети Интернет. Но эти сомнения устра- нило письмо ФАС России от 19.05.06 № АК/7654, в котором прямо указано, что требование об обязательном согласии адресата касается и рекламы, распространяемой по сетям связи интернет [2].



