template#form-popup
  .form-popup

    .form-popup__content

      span.form-popup__close
        svg(width="14" height="14" fill="#000")
          use(href='./assets/img/sprite.svg#close-menu')
      header.form-popup__header
        h4.form-popup__title Оставьте заявку
        p.form-popup__subtitle Менеджер свяжется с вами в ближайшее время

      form.form-popup__item.form-popup__item--full(method='POST' action='' enctype="multipart/form-data" autocomplete="off" data-popup="full")

        +inputSurame
        +inputName
        +inputPatronymic
        +inputDate
        +inputTel
        +inputCity

        .form__input-container.form__input-container--select
          label Желаемая вакансия
          select.form__input-vacancy
            option(selected value="") Выберите вакансию из списка
            option Горничная
            option Супервайзер этажа
            option Специалист по клинингу общественных территорий/хаусмен
            option Уборщик в Винный парк
            option Уборщик производственных и служебных помещений (дневная и ночная смены)
            option Специалист по подготовке зон отдыха
            option Грузчик/Группа управления складами
            option Специалист по работе с гостями – оператор аттракционов
            option Специалист по контролю
            option Консьерж
            option Специалист моечного комплекса (автомойщик/детейлер)
            option Водитель автобуса категории D
            option Врач-отоларинголог
            option Медицинская сестра по физиотерапии
            option Врач-гастроэнтеролог
            option Дежурный врач
            option Врач-кардиолог
            option Врач функциональной диагностики
            option Врач-терапевт
            option Врач-физиотерапевт
            option Врач-уролог
            option Врач-психотерапевт
            option Медсестра
            option Бухгалтер по расчетам с поставщиками
            option Специалист колл-центра
            option Ведущий специалист по качеству и сертификации
            option Бухгалтер по учету доходов
            option Бухгалтер по учету ТМЦ
            option Консультант-аналитик 1С
            option Ведущий специалист по внедрению Битрикс 24
            option Ведущий специалист по продажам делового туризма
            option Ведущий специалист MICE
            option Специалист по информационным технологиям
            option Реставратор-отделочник
            option Оператор видеонаблюдения
            option Заведующий складом
            option Техник по ремонту оборудования
            option Техник КИПиА
            option Специалист по системам беспроводной связи
            option Специалист по IPTV
            option Специалист по системам телефонной связи
            option Слесарь по ремонту и обслуживанию автомобилей
            option Специалист по работе с гостями
            option Аниматор


        +inputText

        .form__input-container
          label Добавить резюме
          .form__upload.form-upload
            input#inputfilepopup.form-upload__input.visually-hidden(type="file" name="file" accept=".pdf, .doc, .docx, .txt")
            label.form-upload__label(for="inputfilepopup") Выберите файл
            span &#32; с резюме или перетащите его в поле (pdf, docx, txt до 15мб)
            span.form-upload__spinner

        .form-popup__sending.form-popup-sending
          p.form-popup-sending__agreement Нажимая кнопку, вы соглашаетесь с <a href="privacy-policy.html">политикой конфиденциальности</a>
          button.button.button--accent(type='submit') Отправить



template#form-popup--ask
  .form-popup.form-popup--ask
    .form-popup__content
      span.form-popup__close
        svg(width="14" height="14" fill="#000")
          use(href='./assets/img/sprite.svg#close-menu')
      header.form-popup__header
        h4.form-popup__title Задайте вопрос
        p.form-popup__subtitle Менеджер свяжется с вами в ближайшее время

      form.form-popup__item(method='POST' action='' enctype="multipart/form-data" autocomplete="off" data-popup="small")

        +inputName
        +inputEmail
        +inputText

        .form-popup__sending.form-popup-sending
          p.form-popup-sending__agreement Нажимая кнопку, вы соглашаетесь с <a href="privacy-policy.html">политикой конфиденциальности</a>
          button.button.button--accent(type='submit') Отправить
