.hero-index
  .hero-index__container.container

    .hero-index__content
      h1.hero-index__title Построй карьеру в одном из лучших курортов в мире
      p.hero-index__text Вы можете развиваться в своей профессии или попробовать поменять квалификацию и начать осваивать что-то новое
      .hero-index__actions
        a.button.button--accent(href="vacancies.html") Вакансии
        button.fill-form.button-popup Заполнить анкету
      .hero-index__employees
        img(src="./assets/img/index-hero/employees.png")
        p.hero-index__employees-text
          b 3000+ сотрудников
          |&nbsp развиваются вместе с нами

    // stories
    .hero-index__stories.hero-index-stories

      .stories-card.hero-index-stories__item(style="background-image: url('./assets/img/stories/01.jpg')" data-open-stories="1")
        //img.stories-card__logo(src="./assets/img/icons/mriya-logo.svg")
        .stories-card__info Ведущий супервайзер отдела продаж
        .stories-card__stories
          button.stories-card__stories-play
          .stories-card__stories-data
            span.stories-card__stories-title Дарья
            span.stories-card__stories-info ведущий супервайзер

      .stories-card.hero-index-stories__item(style="background-image: url('./assets/img/stories/02.jpg')" data-open-stories="2")
        //img.stories-card__logo(src="./assets/img/icons/mriya-logo.svg")
        .stories-card__info Менеджер чайного дома
        .stories-card__stories
          button.stories-card__stories-play
          .stories-card__stories-data
            span.stories-card__stories-title Екатерина
            span.stories-card__stories-info менеджер



  include ../../stories/stories



