.hero-index
  background-color: $beige
  height: 100vh
  background-image: url('../img/index-hero/hero-index-decor.svg')
  background-repeat: no-repeat
  background-position: right
  display: flex
  align-items: center

  &__container
    display: flex
    gap: 50px

  &__content
    display: flex
    flex-direction: column
    gap: 32px
    max-width: 530px
    padding-top: 50px

  &__text
    max-width: 400px

  &__buttons
    display: flex
    align-items: center
    gap: 30px

  &__employees
    display: flex
    align-items: center
    max-width: 450px
    gap: 20px

  &__stories
    display: flex

    &__item:nth-child(2)
      margin-left: -70px
      margin-top: -20px
