.hero-index
  .hero-index__container.container

    .hero-index__content
      h1.hero-index__title Построй карьеру в одном из лучших курортов в мире
      p.hero-index__text Вы можете развиваться в своей профессии или попробовать поменять квалификацию и начать осваивать что-то новое
      .hero-index__buttons
        .button.button--accent Вакансии
        button.fill-form Заполнить анкету
      .hero-index__employees
        img(src="./assets/img/index-hero/employees.png")
        p.hero-index__employees-text
          b 3000+ сотрудников
          |&nbsp развиваются вместе с нами

    .hero-index__stories
      .hero-index__stories__item
        img(src="./assets/img/index-hero/hero-stories-1.png")

      .hero-index__stories__item
        img(src="./assets/img/index-hero/hero-stories-2.png")





