.hero-index
  background-color: $beige
  height: 100vh
  background-image: url('../img/index-hero/hero-index-decor.svg')
  background-repeat: no-repeat
  background-position: right
  display: flex
  align-items: center
  @media (max-width: 1000px)
    height: auto

  &__container
    display: flex
    gap: 50px
    height: 100%
    align-items: center
    @media (max-width: 1000px)
      flex-direction: column
      padding-bottom: 60px

  &__content
    display: flex
    flex-direction: column
    gap: 32px
    max-width: 530px
    padding-top: 50px
    @media (max-width: 1000px)
      gap: 20px

  &__text
    max-width: 400px

  &__actions
    display: flex
    align-items: center
    gap: 30px
    @media (max-width: 1000px)
      flex-wrap: wrap
      justify-content: center

  &__employees
    display: flex
    align-items: center
    max-width: 450px
    gap: 20px

  &-stories
    display: flex
    @media (max-width: 480px)
      transform: translateX(20px)

    &__item
      &:nth-child(1)
        transform: rotate(-2deg) translateY(20px)
      &:nth-child(2)
        transform: rotate(2deg) translateX(-50px)



