.plus.plus--student
  .plus__container.container
    .plus__header
      h2.title-section Плюсы работы в Mriya Resort
      p.plus__subtitle Возможность развиваться и строить карьеру у моря, в компании, где ценят и уважают труд каждого человека

    .plus__tabs.plus-tabs
      .plus-tabs__item(data-tab="1") Преимущества
      .plus-tabs__item(data-tab="2") Бонусы и привилегии

    .plus__advantages.advantages.plus__content(data-content="1")

      .accordion
        ul.accordion__list

          li.accordion__item(data-advant="1")
            p.accordion__title Официальное трудоустройство и достойная зарплата
              +iconPlus
            .accordion__content
              p Только официальное трудоустройство и конкурентная белая зарплата согласно ТК РФ. Регулярные бонусы и премии.

          li.accordion__item(data-advant="2")
            p.accordion__title Жильё
              +iconPlus
            .accordion__content
              p В зависимости от должности: полная или частичная компенсация стоимости аренды жилья для сотрудников, не имеющих собственного жилья в Ялте или Севастополе. Бесплатное размещение в корпоративных общежитиях.

          li.accordion__item(data-advant="3")
            p.accordion__title Компенсация переезда
              +iconPlus
            .accordion__content
              p После 3-х месяцев успешной работы мы компенсируем затраты на переезд, подтвержденные расходы на билеты, бензин и перевоз багажа.

          li.accordion__item(data-advant="4")
            p.accordion__title Трансфер до места работы
              +iconPlus
            .accordion__content
              p Гибкий график корпоративного транспорта из Большой Ялты и Севастополя до отеля и обратно до дома.


          li.accordion__item(data-advant="5")
            p.accordion__title Питание на территории отеля
              +iconPlus
            .accordion__content
              p В отеле есть бесплатная столовая для персонала, а за отдельную плату вы можете пользоваться услугами Room-сервиса.


          li.accordion__item(data-advant="6")
            p.accordion__title Забота о психологическом здоровье
              +iconPlus
            .accordion__content
              p В компании работает корпоративный психолог. Сотрудники могут получить индивидуальную и квалифицированную психологическую помощь.


          li.accordion__item(data-advant="7")
            p.accordion__title Помощь на всех этапах переезда в Крым
              +iconPlus
            .accordion__content
              p Рассказываем, как проще переехать в Крым. Помогаем с размещением и адаптацией на новом месте. После прохождения испытательного срока, в зависимости от должности, — частично или полностью компенсируем расходы на переезд.

          li.accordion__item(data-advant="8")
            p.accordion__title Регистрация для иностранных граждан
              +iconPlus
            .accordion__content
              p Регистрируем иностранных граждан в корпоративном общежитии по месту пребывания, помогаем оформить патент, компенсируем НДС после оплаты госпошлины (нужно сохранить чеки об оплате) и проводим обязательную бесплатную вакцинацию от COVID-19.


      .advantages__images
        img.advantages__images-item(src="./assets/img/advantages/01.jpg" data-image="1")
        img.advantages__images-item(src="./assets/img/advantages/01.jpg" data-image="2")
        img.advantages__images-item(src="./assets/img/advantages/05.jpg" data-image="3")
        img.advantages__images-item(src="./assets/img/advantages/03.jpg" data-image="4")
        img.advantages__images-item(src="./assets/img/advantages/02.jpg" data-image="5")
        img.advantages__images-item(src="./assets/img/advantages/06.jpg" data-image="6")
        img.advantages__images-item(src="./assets/img/advantages/05.jpg" data-image="7")
        img.advantages__images-item(src="./assets/img/advantages/07.jpg" data-image="8")


    .plus__bonus.bonus.plus__content(data-content="2")
      ul.bonus__list

        li.bonus__item
          img.bonus__icon(src="./assets/img/icons/bonus/01.svg")
          .bonus__title Спорт и клубы по интересам
          ul.bonus__description-list
            li.bonus__description-item Корпоративные тренировки по плаванию, футболу, волейболу, кроссфиту, большому и настольному теннису и другим направлениям
            li.bonus__description-item Ежемесячные экскурсии и походы по Крыму

        li.bonus__item
          img.bonus__icon(src="./assets/img/icons/bonus/02.svg")
          .bonus__title Обучение
          ul.bonus__description-list
            li.bonus__description-item Корпоративная библиотека
            li.bonus__description-item Изучение английского языка со скидкой
            li.bonus__description-item Большой выбор бесплатных образовательных программ
            li.bonus__description-item Профессиональные тренинги от Академии Гостеприимства

        li.bonus__item
          img.bonus__icon(src="./assets/img/icons/bonus/03.svg")
          .bonus__title Ежегодная денежная премия
          ul.bonus__description-list
            li.bonus__description-item Каждый апрель — ежегодная премия для сотрудников отеля

        li.bonus__item
          img.bonus__icon(src="./assets/img/icons/bonus/04.svg")
          .bonus__title Мероприятия для сотрудников
          ul.bonus__description-list
            li.bonus__description-item «Клуб лидеров»
            li.bonus__description-item Премия «Лучший работник года»
            li.bonus__description-item Семейные выходные
            li.bonus__description-item Просветительские и волонтерские программы

        li.bonus__item
          img.bonus__icon(src="./assets/img/icons/bonus/05.svg")
          .bonus__title Бонусы и скидки
          ul.bonus__description-list
            li.bonus__description-item Специальные программы лояльности для сотрудников
            li.bonus__description-item Скидки на проживание в номерном фонде для сотрудников или их родственников
            li.bonus__description-item Возможность пользоваться услугами Mriya Resort и посещать тематические парки по специальной цене

        li.bonus__item
          img.bonus__icon(src="./assets/img/icons/bonus/06.svg")
          .bonus__title Профессиональная адаптация, наставничество
          ul.bonus__description-list
            li.bonus__description-item Система адаптации, упрощающая вхождение в должность
            li.bonus__description-item Работа с наставником и поддержка коллег
