.success

  &__title
    margin-bottom: 20px

  &__subtitle
    @include fontSize(14, 18)
    color: #393737CC
    text-align: center
    @include changeSize(margin-bottom, 48, 96)


  &__content
    position: relative

  &__slider
    overflow: hidden

  &__item
    overflow: hidden
    aspect-ratio: 5 / 8
    @include changeSize(width, 250, 300)

  .swiper-slide
    .stories-card

      &__info
        @include fontSize(13, 16)

      &__stories-play
        @include changeSize(width, 40, 53)

      &__stories-title
        @include fontSize(13, 16)

      &__stories-info
        @include fontSize(12, 14)







