.success
  .container.success__container
    h2.title-section.success__title Истории успеха наших сотрудников
    p.success__subtitle Вы можете развиваться в своей профессии или попробовать поменять квалификацию и начать осваивать что-то новое

    .success__content

      .success__slider.swiper
        .success__list.swiper-wrapper

          .success__item.swiper-slide
            img.success__image(src="./assets/img/success/01.png")
            .success__info Я работаю в Мрии садовником уже 2,5 месяца
            .success__stories.success-stories
              .success-stories__play
                img
              b.success-stories__title Название категории
                span.success-stories__amount 18 историй

          .success__item.swiper-slide
            img.success__image(src="./assets/img/success/02.png")
            .success__info Супервайзер в отделе клининга в Мрии
            .success__stories.success-stories
              .success-stories__play
                img
              b.success-stories__title Название категории
                span.success-stories__amount 18 историй

          .success__item.swiper-slide
            img.success__image(src="./assets/img/success/01.png")
            .success__info Я работаю в Мрии садовником уже 2,5 месяца
            .success__stories.success-stories
              .success-stories__play
                img
              b.success-stories__title Название категории
                span.success-stories__amount 18 историй

          .success__item.swiper-slide
            img.success__image(src="./assets/img/success/02.png")
            .success__info Супервайзер в отделе клининга в Мрии
            .success__stories.success-stories
              .success-stories__play
                img
              b.success-stories__title Название категории
                span.success-stories__amount 18 историй

          .success__item.swiper-slide
            img.success__image(src="./assets/img/success/01.png")
            .success__info Я работаю в Мрии садовником уже 2,5 месяца
            .success__stories.success-stories
              .success-stories__play
                img
              b.success-stories__title Название категории
                span.success-stories__amount 18 историй

          .success__item.swiper-slide
            img.success__image(src="./assets/img/success/02.png")
            .success__info Супервайзер в отделе клининга в Мрии
            .success__stories.success-stories
              .success-stories__play
                img
              b.success-stories__title Название категории
                span.success-stories__amount 18 историй



        .slider-nav__prev
          svg(width="8" height="12" stroke="#393737")
            use(href='./assets/img/sprite.svg#arrow-nav-left')
        .slider-nav__next
          svg(width="8" height="12" stroke="#393737")
            use(href='./assets/img/sprite.svg#arrow-nav-left')

        .swiper-scrollbar
