.success
  .container.success__container
    h2.title-section.success__title Истории наших сотрудников
    p.success__subtitle Вы можете развиваться в своей профессии или попробовать поменять
      br
      | квалификацию и начать осваивать что-то новое

    .success__content

      .success__slider.swiper
        .success__list.swiper-wrapper

          .stories-card.success__item.swiper-slide(style="background-image: url('./assets/img/stories/Darya.jpg')" data-open-stories="3")
            //img.stories-card__logo(src="./assets/img/icons/mriya-logo.svg")
            .stories-card__info Ведущий супервайзер отдела продаж
            .stories-card__stories
              button.stories-card__stories-play
              .stories-card__stories-data
                span.stories-card__stories-title Дарья
                span.stories-card__stories-info ведущий супервайзер


          .stories-card.success__item.swiper-slide(style="background-image: url('./assets/img/stories/02.jpg')" data-open-stories="4")
            //img.stories-card__logo(src="./assets/img/icons/mriya-logo.svg")
            .stories-card__info Менеджер чайного дома
            .stories-card__stories
              button.stories-card__stories-play
              .stories-card__stories-data
                span.stories-card__stories-title Екатерина
                span.stories-card__stories-info менеджер

          .stories-card.success__item.swiper-slide(style="background-image: url('./assets/img/stories/Alina.jpg')" data-open-stories="5")
            //img.stories-card__logo(src="./assets/img/icons/mriya-logo.svg")
            .stories-card__info Зам.руководителя службы фронт-офис
            .stories-card__stories
              button.stories-card__stories-play
              .stories-card__stories-data
                span.stories-card__stories-title Алина
                span.stories-card__stories-info зам.руководителя


          .stories-card.success__item.swiper-slide(style="background-image: url('./assets/img/stories/Anna.jpg')" data-open-stories="6")
            //img.stories-card__logo(src="./assets/img/icons/mriya-logo.svg")
            .stories-card__info Менеджер по управлению обратной связью
            .stories-card__stories
              button.stories-card__stories-play
              .stories-card__stories-data
                span.stories-card__stories-title Анна
                span.stories-card__stories-info менеджер


          .stories-card.success__item.swiper-slide(style="background-image: url('./assets/img/stories/Ismet.jpg')" data-open-stories="7")
            //img.stories-card__logo(src="./assets/img/icons/mriya-logo.svg")
            .stories-card__info Менеджер японского сада
            .stories-card__stories
              button.stories-card__stories-play
              .stories-card__stories-data
                span.stories-card__stories-title Исмет
                span.stories-card__stories-info менеджер


        .slider-nav__prev
          svg(width="8" height="12" stroke="#393737")
            use(href='./assets/img/sprite.svg#arrow-nav-left')
        .slider-nav__next
          svg(width="8" height="12" stroke="#393737")
            use(href='./assets/img/sprite.svg#arrow-nav-left')

        .swiper-scrollbar


include ../success/success-stories
