.success
  .container.success__container
    h2.title-section.success__title Истории наших сотрудников
    p.success__subtitle Вы можете развиваться в своей профессии или попробовать поменять
      br
      | квалификацию и начать осваивать что-то новое

    .success__content

      .success__slider.swiper
        .success__list.swiper-wrapper


          .stories-card.success__item.swiper-slide(style="background-image: url('./assets/img/stories/01.jpg')" data-open-stories="3")
            img.stories-card__logo(src="./assets/img/icons/mriya-logo.svg")
            .stories-card__info Супервайзер в отделе клининга в Мрии
            .stories-card__stories
              button.stories-card__stories-play
              .stories-card__stories-data
                span.stories-card__stories-title Елена
                span.stories-card__stories-info шеф-повар


          .stories-card.success__item.swiper-slide(style="background-image: url('./assets/img/stories/02.jpg')" data-open-stories="3")
            img.stories-card__logo(src="./assets/img/icons/mriya-logo.svg")
            .stories-card__info Супервайзер в отделе клининга в Мрии
            .stories-card__stories
              button.stories-card__stories-play
              .stories-card__stories-data
                span.stories-card__stories-title Елена
                span.stories-card__stories-info шеф-повар

          .stories-card.success__item.swiper-slide(style="background-image: url('./assets/img/stories/01.jpg')" data-open-stories="3")
            img.stories-card__logo(src="./assets/img/icons/mriya-logo.svg")
            .stories-card__info Супервайзер в отделе клининга в Мрии
            .stories-card__stories
              button.stories-card__stories-play
              .stories-card__stories-data
                span.stories-card__stories-title Елена
                span.stories-card__stories-info шеф-повар

          .stories-card.success__item.swiper-slide(style="background-image: url('./assets/img/stories/02.jpg')" data-open-stories="3")
            img.stories-card__logo(src="./assets/img/icons/mriya-logo.svg")
            .stories-card__info Супервайзер в отделе клининга в Мрии
            .stories-card__stories
              button.stories-card__stories-play
              .stories-card__stories-data
                span.stories-card__stories-title Елена
                span.stories-card__stories-info шеф-повар


          .stories-card.success__item.swiper-slide(style="background-image: url('./assets/img/stories/01.jpg')" data-open-stories="3")
            img.stories-card__logo(src="./assets/img/icons/mriya-logo.svg")
            .stories-card__info Супервайзер в отделе клининга в Мрии
            .stories-card__stories
              button.stories-card__stories-play
              .stories-card__stories-data
                span.stories-card__stories-title Елена
                span.stories-card__stories-info шеф-повар

          .stories-card.success__item.swiper-slide(style="background-image: url('./assets/img/stories/01.jpg')" data-open-stories="3")
            img.stories-card__logo(src="./assets/img/icons/mriya-logo.svg")
            .stories-card__info Супервайзер в отделе клининга в Мрии
            .stories-card__stories
              button.stories-card__stories-play
              .stories-card__stories-data
                span.stories-card__stories-title Елена
                span.stories-card__stories-info шеф-повар


        .slider-nav__prev
          svg(width="8" height="12" stroke="#393737")
            use(href='./assets/img/sprite.svg#arrow-nav-left')
        .slider-nav__next
          svg(width="8" height="12" stroke="#393737")
            use(href='./assets/img/sprite.svg#arrow-nav-left')

        .swiper-scrollbar


include ../success/success-stories
