.stories-card
  img.stories-card__logo(src="./assets/img/icons/mriya-logo.svg")
  img.stories-card__image(src="./assets/img/stories/01.jpg")
  .stories-card__info Супервайзер в отделе клининга в Мрии
  .stories-card__stories
    button.stories-card__stories-play
    .stories-card__stories-data
      span.stories-card__stories-title Елена
      span.stories-card__stories-info шеф-повар
