.popular-vacancies
  .container.popular-vacancies__container
    h2.title-section.popular-vacancies__title Актуальные и популярные вакансии

    .popular-vacancies__content

      .popular-vacancies__slider.swiper
        .popular-vacancies__list.swiper-wrapper

          a.popular-vacancies__item.swiper-slide(href="")
            img.popular-vacancies__image(src="./assets/img/popular-vacancies/01.jpg")
            .popular-vacancies__info
              span.popular-vacancies__name Специалист по работе с гостями
              span.popular-vacancies__salary от 30 000 Р

          a.popular-vacancies__item.swiper-slide(href="")
            img.popular-vacancies__image(src="./assets/img/popular-vacancies/02.jpg")
            .popular-vacancies__info
              span.popular-vacancies__name Горничная
              span.popular-vacancies__salary от 30 000 Р

          a.popular-vacancies__item.swiper-slide(href="")
            img.popular-vacancies__image(src="./assets/img/popular-vacancies/03.jpg")
            .popular-vacancies__info
              span.popular-vacancies__name Специалист по работе с гостями - оператор-аттракционов (Дримвуд)
              span.popular-vacancies__salary от 30 000 Р

          a.popular-vacancies__item.swiper-slide(href="")
            img.popular-vacancies__image(src="./assets/img/popular-vacancies/04.jpg")
            .popular-vacancies__info
              span.popular-vacancies__name Аниматор
              span.popular-vacancies__salary от 30 000 Р


        .slider-nav__prev
          svg(width="8" height="12" stroke="#393737")
            use(href='./assets/img/sprite.svg#arrow-nav-left')
        .slider-nav__next
          svg(width="8" height="12" stroke="#393737")
            use(href='./assets/img/sprite.svg#arrow-nav-left')

        .swiper-scrollbar
