.hero-student
  .hero-student__container.container

    .hero-student__content
      h1.hero-student__title Копирайт для этого раздела
      p.hero-student__text Вы можете развиваться в своей профессии или попробовать поменять квалификацию и начать осваивать что-то новое
      .hero-student__actions
        a.button.button--accent(href="vacanciesFilter.html") Вакансии
        button.fill-form.button-popup Заполнить анкету
      .hero-student__employees
        img(src="./assets/img/index-hero/employees.png")
        p.hero-student__employees-text
          b 3000+ стажёров
          |&nbsp развиваются вместе с нами


    .hero-student__stories.hero-student-stories

      .stories-card.hero-student-stories__item(style="background-image: url('./assets/img/stories/04.jpg')" data-open-stories="1")
        img.stories-card__logo(src="./assets/img/icons/mriya-logo.svg")
        //.stories-card__info Супервайзер в отделе клининга в Мрии
        .stories-card__stories
          button.stories-card__stories-play
          .stories-card__stories-data
            span.stories-card__stories-title Константин
            span.stories-card__stories-info шеф-повар

      .stories-card.hero-student-stories__item(style="background-image: url('./assets/img/stories/05.jpg')" data-open-stories="2")
        img.stories-card__logo(src="./assets/img/icons/mriya-logo.svg")
        //.stories-card__info Супервайзер в отделе клининга в Мрии
        .stories-card__stories
          button.stories-card__stories-play
          .stories-card__stories-data
            span.stories-card__stories-title Александр
            span.stories-card__stories-info менеджер зала









