.about
  &__container
    display: grid
    grid-template-columns: repeat(2, 1fr)
    gap: 50px
    justify-content: space-between
    align-items: center
    @media (max-width: 1000px)
      grid-template-columns: 1fr
    @media (max-width: 768px)
      gap: 32px

  &__images
    position: relative
    display: grid
    grid-template-columns: repeat(6, 1fr)
    width: 100%
    height: 90%
    flex: 0 1 50%
    max-width: 600px

    .about__image
      position: relative
      height: auto
      width: 100%
      overflow: hidden
      &:nth-child(1)
        aspect-ratio: 41 / 54
        grid-column: span 4
        grid-row: span 1
        @media (max-width: 1000px)
          max-width: 330px
      &:nth-child(2)
        aspect-ratio: 5 / 6
        grid-column: 3 / -2
        grid-row: span 1
        z-index: 1
        margin-top: -60%
        @media (max-width: 1000px)
          max-width: 250px

      img
        position: absolute
        width: 100%
        height: 100%
        object-fit: cover
        display: block
        transition: 0.7s all
    @media (max-width: 1000px)
      margin: 0 auto

  &__content
    display: flex
    flex-direction: column
    gap: 32px

  &-rewards
    display: flex
    align-items: center
    flex-wrap: wrap
    gap: 20px
    @media (max-width: 768px)
      gap: 10px
    img
      width: 90px
      height: 90px
      aspect-ratio: 1 / 1
      object-fit: cover
      @media (max-width: 768px)
        width: 60px
        height: 60px

    &__item
      position: relative
      &:hover .about-rewards__item-prompt
        opacity: 1
        top: 0
        visibility: visible
    &__item-prompt
      opacity: 0
      visibility: hidden
      display: block
      z-index: 1
      position: absolute
      width: max-content
      max-width: 180px
      height: fit-content
      background-color: #333333
      color: #fff
      top: -10%
      left: 50%
      right: 0
      transform: translate(-50%, -100%)
      border-radius: 4px
      padding: 10px
      text-align: center
      font-size: 10px
      transition: 0.3s ease-out
      word-wrap: break-word
      @media (max-width: 768px)
        max-width: 90px
      &::after
        content: ""
        position: absolute
        background-image: url('../img/contacts/label-tail-dark.svg')
        background-repeat: no-repeat
        background-size: cover
        background-position: center
        width: 16px
        height: 12px
        bottom: -8px
        right: 0
        left: 0
        margin: 0 auto


  &__title
    text-align: left

  &__text
    @include fontSize(14, 18)
    color: rgba(57, 55, 55, 0.75)
    line-height: 1.5

  &__social-list
    display: flex
    gap: 12px
    flex-wrap: wrap



  &__social-link
    display: block
    @include fontSize(14, 18)
    padding: 12px 20px
    border: 1px solid #393737
    border-radius: 4px
    &:hover
      background-color: #393737
      color: #fff
    @media (max-width: 1000px)
      padding: 8px



