.about
  .about__container.container

    .about__swiper.swiper
      .about__images.swiper-wrapper
        .about__image.swiper-slide
          img(src="./assets/img/about/01.jpg")
          img(src="./assets/img/about/02.jpg")
          img(src="./assets/img/about/03.jpg")
          img(src="./assets/img/about/04.jpg")
          img(src="./assets/img/about/05.jpg")
          img(src="./assets/img/about/06.jpg")
        .about__image.swiper-slide
          img(src="./assets/img/about/07.jpg")
          img(src="./assets/img/about/08.jpg")
          img(src="./assets/img/about/09.jpg")
          img(src="./assets/img/about/10.jpg")
          img(src="./assets/img/about/11.jpg")
          img(src="./assets/img/about/12.jpg")

    .about__content
      .about__rewards.about-rewards
        .about-rewards__item
          img(src="./assets/img/about/reward-1.png" title="Лучший оздоровительный курорт в мире 2021")
          span.about-rewards__item-prompt Лучший оздоровительный курорт в мире 2021
        .about-rewards__item
          img(src="./assets/img/about/reward-1.png" title="Лучший оздоровительный курорт в России 2021")
          span.about-rewards__item-prompt Лучший оздоровительный курорт в России 2021
        .about-rewards__item
          img(src="./assets/img/about/reward-2.png" title="Лучшая гостиница в сфере делового туризма и MICE 2020")
          span.about-rewards__item-prompt Лучшая гостиница в сфере делового туризма и MICE 2020
        .about-rewards__item
          img(src="./assets/img/about/reward-3.png" title="Лучшая оздоровительная клиника в мире 2020")
          span.about-rewards__item-prompt Лучшая оздоровительная клиника в мире 2020

      h2.about__title.title-section Работайте и живите в одном из живописнейших мест России
      p.about__text Mriya Resort & SPA — ведущий курорт в Крыму и один из лучших в мире.*
      p.about__text Наши гости любят Mriya Resort за премиальный сервис и уникальную инфраструктуру: прекрасный пляж, тематические парки, СПА-комплекс, медицинские центры, спортивные площадки, рестораны. А мы — за увлеченный, дружный коллектив и добрую атмосферу. За возможность развиваться и строить карьеру у моря, в компании, где ценят и уважают труд каждого человека.
      p.about__text Вместе мы создаем мир, в который хочется вернуться.

      ul.about__social-list
        li.about__social-item
          a.about__social-link(href="") Вконтакте
        li.about__social-item
          a.about__social-link(href="") Instagram




