.about
  .about__container.container

    .about__images
      .about__image
        img(src="./assets/img/about/01.jpg")
      .about__image
        img(src="./assets/img/about/02.jpg")

    .about__content
      .about__rewards
        img(src="./assets/img/about/reward.png")
        img(src="./assets/img/about/reward.png")
        img(src="./assets/img/about/reward.png")
        img(src="./assets/img/about/reward.png")
      h2.about__title.title-section Работайте и живите в одном из живописнейших мест России
      p.about__text Mriya Resort — ведущий мировой курорт, расположенный на южном берегу Крыма между живописным горным массивом и бескрайним морским простором.
      p.about__text За годы работы отель получил признание международного туристического сообщества и удостоился 25 международных, 26 европейских и 15 российских наград в сфере индустрии гостеприимства.

      ul.about__social-list
        li.about__social-item
          a.about__social-link(href="") Вконтакте
        li.about__social-item
          a.about__social-link(href="") Instagram




