extends ../layouts/main

block variables
  - var title = "О нас"
  - var pageClass = ''
  - var activePage = 'index'

block content

  .breadcrumbs.breadcrumbs--light
    .breadcrumbs__container.container
      a.breadcrumbs__item(href="/") Главная
      a.breadcrumbs__item(href="") О нас

  section.section-column

    include ../components/hero/hero-about/hero-about
    include ../components/mission/mission
    include ../components/values/values

    include ../components/success/success
    include ../components/mass-media/mass-media
    include ../components/contacts/contacts





