extends ../layouts/main

block variables
  - var title = "Статья"
  - var pageClass = ''
  - var activePage = 'index'

block content

  section.section-column

    include ../components/article/article






