extends ../layouts/main

block variables
  - var title = "Блог"
  - var pageClass = ''
  - var activePage = 'index'

block content

  .breadcrumbs
    .breadcrumbs__container.container
      a.breadcrumbs__item(href="/") Главная
      a.breadcrumbs__item(href="") Блог

  section.section-column

    include ../components/blog/blog





