extends ../layouts/template-vacancy

block variables
  - var title = "Вакансия"
  - var pageClass = ''
  - var activePage = 'index'


block content

  .breadcrumbs
    .breadcrumbs__container.container
      a.breadcrumbs__item.back(href="vacancies.html") Вернуться к вакансиям

  section.section-column

    .container
      .vacancy

        .vacancy__container

          .vacancy__data
            h1 Консьерж
            .vacancy__advantages
              span Заработная плата: 25 000 ₽
              span Занятость: 2/2, дневные и ночные смены

            .vacancy__section
              h2 Требования
              ul
                li Возможно без опыта работы
                li Готовность к физическому труду
                li Без ограничений по здоровью

            .vacancy__section
              h2 Обязанности
              ul
                li Lorem ipsum dolor sit amet, consectetur adipisicing elit.

            .vacancy__section
              h2 Условия
              ul
                li Жилье или компенсация съемной квартиры
                li Питание на территории отеля
                li Трансфер до места работы
                li Компенсация переезда в Ялту
                li Официальное трудоустройство
                li Достойная зарплата
                li Возможность карьерного и профессионального роста
                li Регистрация для иностранных граждан
                li Компенсация 50% стоимости занятий на Skyeng
                li Большой и дружный коллектив
                li Клубы и секции по интересам
                li Помощь на всех этапах прибытия в Крым
                li Тренинги, семинары и вебинары от Академии Гостеприимства
                li Бонусы и скидки на услуги курорта



          .vacancy__hr.vacancy-hr
            h2.vacancy-hr__title Контакты HR
            .vacancy-hr__data
              .vacancy-hr__person.vacancy-hr-person
                .vacancy-hr-person__image
                  img(src="./assets/img/contacts/01.jpg")
                b.vacancy-hr-person__name Константинопольский Константин
                span.vacancy-hr-person__post Сотрудник отдела кадров
              .vacancy-hr__contacts.vacancy-hr-contacts
                a.vacancy-hr-contacts__item(href="tel:88005505271") 8 800 550-52-71
                a.vacancy-hr-contacts__item(href="mailto:job@mriyaresort.com") job@mriyaresort.com

            .button.button--accent.vacancy-hr__button.button-popup Откликнуться на вакансию
