extends ../layouts/main

block variables
  - var title = "FAQ"
  - var pageClass = ''
  - var activePage = 'index'

block content

  .breadcrumbs
    .breadcrumbs__container.container
      a.breadcrumbs__item(href="/") Главная
      a.breadcrumbs__item(href="") FAQ

  section.section-column

    include ../components/faq/faq
    include ../components/feedback/feedback





