extends ../layouts/main

block variables
  - var title = "Главная"
  - var pageClass = ''
  - var activePage = 'index'

block content

  section.section-column

    include ../components/hero/hero-index/hero-index

    include ../components/popular-vacancies/popular-vacancies

    include ../components/review/review
    //include ../components/areas/areas
    include ../components/areas-v2/areas-v2
    include ../components/plus/plus
    include ../components/about/about
    include ../components/employment/employment
    include ../components/success/success

    include ../components/faq/faq
    include ../components/feedback/feedback

    include ../components/mass-media/mass-media
    include ../components/contacts/contacts




