extends ../layouts/main

block variables
  - var title = "Политика конфиденциальности"
  - var pageClass = ''
  - var activePage = 'index'

block content

  .breadcrumbs
    .breadcrumbs__container.container
      a.breadcrumbs__item(href="index.html") Главная
      a.breadcrumbs__item Политика конфиденциальности

  section.section-column

    .container
      .privacy-policy
        .privacy-policy__container

          h1 Политика в отношении обработки персональных данных в ООО «ГАРАНТ-СВ»

          ol

            li Общие положения
              ol
                li Настоящий документ (далее - Политика) определяет политику в отношении обработки персональных данных Общества с ограниченной ответственностью «ГАРАНТ-СВ», расположенного по адресу 298688, Россия, Республика Крым, Ялта, с. Оползневое, улица Генерала Острякова, 9 (далее – Оператор).
                li Настоящая Политика разработана во исполнение требований п. 2 ч. 1 ст. 18.1 Федерального закона от 27.07.2006 № 152-ФЗ «О персональных данных» (далее – Закон о персональных данных).
                li Понятия, содержащиеся в ст. 3 Закона о персональных данных, используются в настоящей Политике с аналогичным значением.
                li Действие настоящей Политики распространяется на все операции, совершаемые Оператором с персональными данными с использованием средств автоматизации или без их использования.
                li Основные права и обязанности Оператора.
                  ol
                    li Оператор имеет право:
                      p - получать от субъекта персональных данных достоверные информацию и/или документы, содержащие персональные данные;
                      p - требовать от субъекта персональных данных своевременного уточнения предоставленных персональных данных.

                    li Оператор обязан:
                      p - обрабатывать персональные данные в порядке, установленном действующим законодательством РФ;
                      p - рассматривать обращения субъекта персональных данных (его законного представителя) по вопросам обработки персональных данных и давать мотивированные ответы;
                      p - предоставлять субъекту персональных данных (его законному представителю) возможность безвозмездного доступа к его персональным данным;
                      p - принимать меры по уточнению, уничтожению персональных данных субъекта персональных данных в связи с его (его законного представителя) обращением с законными и обоснованными требованиями;
                      p - организовывать защиту персональных данных в соответствии с требованиями законодательства РФ.


                li Основные права и обязанности субъектов персональных данных:
                  ol
                    li Субъекты персональных данных имеют право:
                      p - на полную информацию об их персональных данных, обрабатываемых Оператором;
                      p - на доступ к их персональным данным, включая право на получение копии любой записи, содержащей их персональные данные, за исключением случаев, предусмотренных федеральным законом;
                      p - на уточнение их персональных данных, их блокирование или уничтожение в случаях, если персональные данные являются неполными, устаревшими, неточными, незаконно полученными или не являются необходимыми для заявленной цели обработки;
                      p - на отзыв согласия на обработку персональных данных;
                      p - на принятие предусмотренных законом мер по защите своих прав;
                      p - на осуществление иных прав, предусмотренных законодательством РФ.

                    li Субъекты персональных данных обязаны:
                      p - предоставлять Оператору только достоверные данные о себе;
                      p - предоставлять документы, содержащие персональные данные в объеме, необходимом для цели обработки;
                      p - сообщать Оператору об уточнении (обновлении, изменении) своих персональных данных.

                    li Лица, передавшие Оператору недостоверные сведения о себе, либо сведения о другом субъекте персональных данных без согласия последнего, несут ответственность в соответствии с законодательством РФ.

            li Объем и категории обрабатывае
