extends ../layouts/main

block variables
  - var title = "Политика конфиденциальности"
  - var pageClass = ''
  - var activePage = 'index'

block content

  .breadcrumbs
    .breadcrumbs__container.container
      a.breadcrumbs__item(href="/") Главная
      a.breadcrumbs__item(href="") Политика конфиденциальности

  section.section-column

    include ../components/privacy-policy/privacy-policy




