extends ../layouts/main

block variables
  - var title = "Политика конфиденциальности"
  - var pageClass = ''
  - var activePage = 'index'

block content

  section.section-column

    include ../components/privacy-policy/privacy-policy




