extends ../layouts/main

block variables
  - var title = "Студентам"
  - var pageClass = ''
  - var activePage = 'index'

block content

  .breadcrumbs
    .breadcrumbs__container.container
      a.breadcrumbs__item(href="index.html") Главная
      a.breadcrumbs__item Студентам

  section.section-column

    include ../components/hero/hero-student/hero-student

    include ../components/popular-vacancies/popular-vacancies-student

    include ../components/areas/areas-student
    include ../components/plus/plus-student

    // красочный слайдрер
    include ../components/student-career/student-career

    include ../components/employment/employment-student

    include ../components/success/success

    include ../components/faq/faq
    include ../components/feedback/feedback-student

    include ../components/contacts/contacts




