extends ../layouts/main

block variables
  - var title = "Вакансии"
  - var pageClass = ''
  - var activePage = 'index'

block content

  .breadcrumbs
    .breadcrumbs__container.container
      a.breadcrumbs__item(href="/") Главная
      a.breadcrumbs__item(href="") Список вакансий

  section.section-column

    include ../components/vacancies/vacancies
    include ../components/feedback/feedback


