.areas
  &.areas--student
    background-color: #D8FCDF
    .areas__container
      @media (max-width: 1000px)
        padding-bottom: 50px

  &__container
    display: grid
    grid-template-columns: auto 40%
    gap: 50px
    justify-content: space-between
    //align-items: center
    @media (max-width: 1000px)
      grid-template-columns: 1fr
    @media (max-width: 768px)
      gap: 24px

  &__title
    text-align: left
    margin-bottom: 32px
    @media (max-width: 1000px)
      margin-bottom: 16px

  &__description
    display: none
    flex-direction: column
    gap: 12px
    @include fontSize(14, 18)
    margin-bottom: 48px
    max-height: 500px
    overflow-y: auto
    padding-right: 20px
    &::-webkit-scrollbar
      width: 8px
      height: 8px
    &::-webkit-scrollbar-track
      background-color: $black
      border-radius: 8px
      height: 5px
    &::-webkit-scrollbar-thumb
      background-color: $orange
      border-radius: 8px
    @media (max-width: 1000px)
      &::-webkit-scrollbar
        width: 4px
        height: 4px
      margin-bottom: 24px
      max-height: 300px
    &.js-area-active
      display: flex
    ul
      display: flex
      flex-direction: column
      gap: 8px
      list-style-type: disc
      padding-left: 30px
    ul > li > ul
      list-style-type: square
      margin-top: 8px


  &__subtitle
    display: inline-block
    font-size: 20px
    margin-bottom: 32px
    @media (max-width: 1000px)
      margin-bottom: 16px


  &__list
    display: flex
    flex-wrap: wrap
    gap: 16px 8px
    @media (max-width: 1000px)
      gap: 8px

  &__item,
  .areas__item--more
    border: 1px solid #EBEBEB
    padding: 6px 16px
    cursor: pointer
    @include fontSize(13, 16)
    @media (max-width: 1000px)
      padding: 8px
    &:hover,
    &.js-area-active
      background-color: $black
      border-color: $black
      color: #fff

  &__item
    &:nth-child(n+9)
      display: none

  &__item.js-visible
    display: block

  &__images
    height: 640px
    @media (max-width: 1000px)
      order: -1
      height: auto
      min-height: 200px
      aspect-ratio: 11 / 9
    img
      display: none
      width: 100%
      height: 100%
      object-fit: cover
      &.js-area-active
        display: block

