.areas.areas--student
  .areas__container.container
    .areas__content
      h2.title-section.areas__title Вместе мы создаем мир, в который хочется вернуться

      p.areas__description(data-description="1") Наши гости любят Mriya Resort за премиальный сервис и уникальную инфраструктуру, а мы — за увлеченный, дружный коллектив и добрую атмосферу
      p.areas__description(data-description="2") Наши 2 гости любят Mriya Resort за премиальный сервис и уникальную инфраструктуру, а мы — за увлеченный, дружный коллектив и добрую атмосферу
      p.areas__description(data-description="3") Наши 3 гости любят Mriya Resort за премиальный сервис и уникальную инфраструктуру, а мы — за увлеченный, дружный коллектив и добрую атмосферу
      p.areas__description(data-description="4") Наши 4 гости любят Mriya Resort за премиальный сервис и уникальную инфраструктуру, а мы — за увлеченный, дружный коллектив и добрую атмосферу
      p.areas__description(data-description="5") Наши 5 гости любят Mriya Resort за премиальный сервис и уникальную инфраструктуру, а мы — за увлеченный, дружный коллектив и добрую атмосферу
      p.areas__description(data-description="6") Наши 6 гости любят Mriya Resort за премиальный сервис и уникальную инфраструктуру, а мы — за увлеченный, дружный коллектив и добрую атмосферу
      p.areas__description(data-description="7") Наши 7 гости любят Mriya Resort за премиальный сервис и уникальную инфраструктуру, а мы — за увлеченный, дружный коллектив и добрую атмосферу
      p.areas__description(data-description="8") Наши 8 гости любят Mriya Resort за премиальный сервис и уникальную инфраструктуру, а мы — за увлеченный, дружный коллектив и добрую атмосферу
      p.areas__description(data-description="9") Наши 9 гости любят Mriya Resort за премиальный сервис и уникальную инфраструктуру, а мы — за увлеченный, дружный коллектив и добрую атмосферу
      p.areas__description(data-description="10") Наши 10 гости любят Mriya Resort за премиальный сервис и уникальную инфраструктуру, а мы — за увлеченный, дружный коллектив и добрую атмосферу
      p.areas__description(data-description="11") Наши 11 гости любят Mriya Resort за премиальный сервис и уникальную инфраструктуру, а мы — за увлеченный, дружный коллектив и добрую атмосферу
      p.areas__description(data-description="12") Наши 12 гости любят Mriya Resort за премиальный сервис и уникальную инфраструктуру, а мы — за увлеченный, дружный коллектив и добрую атмосферу
      p.areas__description(data-description="13") Наши 13 гости любят Mriya Resort за премиальный сервис и уникальную инфраструктуру, а мы — за увлеченный, дружный коллектив и добрую атмосферу
      p.areas__description(data-description="14") Наши 14 гости любят Mriya Resort за премиальный сервис и уникальную инфраструктуру, а мы — за увлеченный, дружный коллектив и добрую атмосферу

      b.areas__subtitle Направления работы
      ul.areas__list
        li.areas__item(data-area="1") Благоустройство
        li.areas__item(data-area="2") Дримвуд
        li.areas__item(data-area="3") Инженерно-технические объекты
        li.areas__item(data-area="4") Медицина
        li.areas__item(data-area="5") Отель
        li.areas__item(data-area="6") Офис
        li.areas__item(data-area="7") Пляж
        li.areas__item(data-area="8") Рестораны
        li.areas__item(data-area="10") Благоустройство
        li.areas__item(data-area="11") Дримвуд
        li.areas__item(data-area="12") Медицина
        li.areas__item(data-area="13") Рестораны
        li.areas__item(data-area="14") Пляж
        li.areas__item--more

    .areas__images
      img(src="./assets/img/advantages/08.jpg" data-image="1")
      img(src="./assets/img/advantages/02.jpg" data-image="2")
      img(src="./assets/img/advantages/03.jpg" data-image="3")
      img(src="./assets/img/advantages/04.jpg" data-image="4")
      img(src="./assets/img/advantages/05.jpg" data-image="5")
      img(src="./assets/img/advantages/06.jpg" data-image="6")
      img(src="./assets/img/advantages/07.jpg" data-image="7")
      img(src="./assets/img/advantages/04.jpg" data-image="8")
      img(src="./assets/img/advantages/03.jpg" data-image="9")
      img(src="./assets/img/advantages/04.jpg" data-image="10")
      img(src="./assets/img/advantages/05.jpg" data-image="11")
      img(src="./assets/img/advantages/06.jpg" data-image="12")
      img(src="./assets/img/advantages/07.jpg" data-image="13")
      img(src="./assets/img/advantages/02.jpg" data-image="14")
