.container
  .areas
    .areas__container
      .areas__content
        h2.title-section.areas__title Вместе мы создаем мир, в который хочется вернуться

        .areas__description(data-description="1")
          p Транспортная служба Mriya Resort & Spa включает в себя автомобильное, воздушное и морское сообщение. Служба специализируется на предоставлении транспортных услуг и обеспечении комфортного и безопасного сервиса перевозок для гостей нашего курортного комплекса. На сегодняшний день в транспортной службе насчитывается 70 единиц автопарка, 4 яхты, 2 вертолёта, а также большой центр морских активностей. Профессиональный штат сотрудников службы состоит из: водителей, пилотов, моряков, логистов, координаторов, ремонтников, медиков и других специалистов. В большую инфраструктуру входят вертолётная площадка, собственный гараж и детейлинг центр. Работа в составе транспортной службы это гарантии занятости и безопасность в использовании транспортных средств.

        .areas__description(data-description="2")
          p Главная задача департамента безопасности - это создание и реализация условий, при которых гости, посетители и сотрудники могли бы чувствовать себя уверенно, спокойно и комфортно на территории Mriya Resort & SPA.

        .areas__description(data-description="3")
          p Всех гостей встречают профессионалы гостеприимства в современном Велком-центре и обеспечивают комфортную логистику для того, чтобы гость беспрепятственного мог посетить:
          ul
            li один или несколько тематических парков;
            li весь комплекс по услуге «День мечты» – это возможность для гостя провести лучший день в своей жизни, наслаждаясь богатой инфраструктурой комплекса, без услуги проживания;
            li концерты селебрити, фестивали, иммерсивные ужины и концептуальные вечеринки.
          p Вы давно мечтали узнать все тонкости сферы гостеприимства, тренировать свои коммуникативные навыки? Тогда Вам точно в команду Велком центра. Открытые сердца и умы специалистов команды направлены на повышение качества услуг и своих компетенций.


        .areas__description(data-description="4")
          h3 Служба по работе с гостями/Служба приема и размещения
          p Front Office – это «заботливые руки» Mriya Resort & Spa, которые работают в сердце отеля. Основной задачей сотрудников подразделения, является организация и сопровождение отдыха 396 номеров комплекса. Большая команда службы Front Office состоит из водителя клаб-каров, швейцаров, администратора ресепшн, консьерж премиум сервис, консьерж аэропорт (ЖД) и сотрудники управления обратной связью. Сотрудники службы являются лицом отеля, которые заботятся и предвосхищают ожидания гостя, делая каждый его день незабываемым моментом отдыха. Работа в команде Front Office это динамичные вызовы каждый день, отличная возможность получать новые знания и развиваться в профессии.

          h3 Служба управления виллами
          p Служба управления виллами – это подразделение Mriya Resort & Spa, специализирующееся на организации и сопровождении отдыха VIP гостей, проживающих на территории вилл. Всего в управлении службы – 37 вилл, из них можно выделить 12 семейный, 2 президентские и 3 императорские виллы неподалёку от Японского сада; а также 16 семейных винных и 4 президентских винных виллы, находящиеся на территории винного парка. Коллектив службы управления виллами состоит из настоящих профессионалов своего дела. А именно, в службе можно выделить два ключевых направления, батлер сервис и хозяйственная служба. Сотрудники службы управления виллами помогают VIP гостям воспользоваться всеми услугами нашего курортного комплекса.

          h3 Центральная прачечная
          p Новый, мощный промышленный комплекс центральной прачечной Mriya Resort & Spa ежедневно осуществляет комплексную стирку до 24 тонн белья. Благодаря более чем 40 единицам современного автоматизированного оборудования, общий объём от стирки до глажки и упаковки составляет 1200 пар комплектов белья в час. Персонал центральной фабрики состоит из высококвалифицированных специалистов: инженеры, техники, операторы линий и технический персонал. Все сотрудники обеспечивают высокие стандарты стирки и укладки белья, поддерживают высокую производительность подразделения в целом. Работа в составе центральной прачечной, это работа для настоящих профессионалов, не боящихся больших объёмов и способных ответственно выполнять предписанные регламентами и инструкциями задачи.

          h3 Хозяйственная служба
          p Хозяйственная служба Mriya Resort & Spa это подразделение, благодаря которому все гости нашего отеля получают уют и домашнюю атмосферу. Проводя уборку и комплектование номерного фонда по мировым стандартам сервиса, горничные и специалисты ежедневно являются волшебниками чистоты. С заботой о каждом госте, ежедневно во всех номерах нашего отеля проводится очень тщательная уборка. Всем сотрудникам предоставляется обучение и поддержка на каждом этапе адаптации, полное обеспечение новым клининговыми оборудованием и инструментами. Для сотрудников хозяйственной службы на ежемесячной основе проводятся тренинги и встречи с супервайзерами и руководителями. Доборожелательный коллектив всегда готов принять в свои ряды ответственных и не равнодушных сотрудников по уборке номерного фонда и общественных зон.

          h3 Служба продаж номерного фонда
          p Служба продаж номерного фонда курорта Mriya Resort & Spa – это 5 направлений по продажам 339 номеров и 37 вилл нашего курортного комплекса. Продавать проживание и отдых в нашем отеле одно удовольствие, ведь все сотрудники службы продаж номерного фонда очень хорошо знают свой продукт.  Поддерживая деловой имидж нашего курортного комплекса, сотрудники службы продаж проводят эффективные переговоры как физическими, как и с юридическими лицами по всей стране. Регулярная маркетинговая поддержка помогает достигать в продажах высоких показателей. Сотрудники службы продаж предоставляют профессиональные консультации, обеспечивая каждый день выполнение планов по загрузки номерного фонда нашего курорта. Работа в составе службы продаж — это возможность продавать отличный продукт наиболее заинтересованным и клиентам на рынке.


        .areas__description(data-description="5")
          p <b>SPA-центр</b>, в который входит Термальный комплекс, SPA-Delange и салон красоты Mriya Beauty, оказывает комплекс услуг для гостей по оздоровлению и красоте.
          p Профессионалы своего дела погружают гостя в состояние релакса, помогают создать неповторимый образ и восстанавливают силы с помощью банных ритуалов.
          p Команда SPA-центра вовлечена в процессы и результаты направления, всегда готовы прийти на помощь коллегам из разных подразделений, создавать коллаборации со смежными направлениями и каждый день становиться лучше!

          h3 SPA-Delange
          p Большое светлое пространство, премиальный сервис и опыт команды Delange позволили Mriya Resort & SPA заслужить звание одного из лучших оздоровительных курортов в мире. SPA-Delange — это ода природе, гармонии и красоте. Ритуалы, тонизирующие тело и успокаивающие ум, очищают, расслабляют, помогают восстановить силы и душевный баланс. В SPA-комплексе оказываются услуги массажа, обертывания, скрабирования, ухода, косметологии.
          p Команда работает на европейских премиум брендах, которые можно приобрести для домашнего ухода, а опыт наших массажистов от 5 до 25 лет и насчитывает десятки отработанных техник массажа. SPA-Delange дарит единение души и тела, атмосферу релакса и истинного наслаждения не только гостям, но и сотрудникам. Умиротворяющая атмосфера, в которой работает наша команда, лаунж-зона с видом на море, благоухание ароматов эфирных масел, богатые природные текстуры - все это расслабляет и одновременно вызывает большое желание работать в этом месте!

          h3 Термальный комплекс
          p Это воплощение традиций банной культуры в современной интерпретации. Место, где каждый может  перезагрузиться, оздоровиться и восстановить силы.
          p Сухой пар, влажный, соляной и кедровый, снег и ледяные купели, массажи и чаепития — здесь все разнообразие для самых взыскательных ценителей банных ритуалов и для начинающих любителей горячего пара.
          p Наши пармейстеры профессионально проводят процедуры парения. Все специалисты имеют медицинское образование: курсы массажа и реабилитации.

          h3 Салон красоты Mriya Beauty
          p Собраться на мероприятие, подготовиться к фотосессии, сделать прическу к ужину или просто поднять себе настроение новым образом помогают стилисты премиального салона красоты Mriya Beauty & Style.
          p Нашим мастерам доверяют селебрити, известные блогеры и медиа-персоны. Мастера салона красоты настоящие профессионалы своего дела и могут осуществить все пожелания в преображении, легко и быстро создать неповторимый образ в «четыре руки» и дать профессиональные рекомендации по стилю и уходу.
          p Преображения в салоне любят не только наши гости, но и сотрудники, ведь для них действует, специальный прайс на все услуги и ежемесячные уникальные выгодные предложения рамках программы лояльности.


        .areas__description(data-description="6")
          p В фитнес-центр входят:
          ul
            li 2 открытых теннисных корта, которые соответствуют всем международным стандартам и требованиям ITF;
            li 1 крытый теннисный корт;
            li универсальный спортивный игровой зал;
            li тренажерный зал с панорамной кардио-зоной и фитнес-студия;
            li спортивная площадка на пляже с современными тренажерами;
            li пляжная волейбольная песчаная площадка.

          p В команде работают квалифицированные спортивные тренеры различных направлений, администраторы, специалисты зон отдыха.
          p Присоединившись к команде фитнес-центра, у вас появится возможность:
          ul
            li получать новый опыт, заряжать энергией гостей, коллег и заряжаться самому;
            li каждый год принимать лидирующее участие в Спартакиаде (соревнования среди коллег);
            li принимать участие в тимбилдингах, делиться идеями по услугам и многое другое.

        .areas__description(data-description="7")
          p Пляж Mriya Resort & SPA – это 300 метров мелкой массажной гальки и синего моря.
          p Пляж курорта – это безопасность и красота. Набережная в несколько уровней, экзотические растения, здания и объекты в футуристическом стиле, зонты и теневые навесы в виде белоснежных парусов. Инфраструктура рассчитана на комфортный отдых для более чем тысячи гостей одновременно.
          p Команда пляжа и бассейнов – локомотив комплекса: сотрудники направления всегда готовы прийти на помощь своим коллегам, поддерживают друг друга, берут на себя ответственность и развиваются в своем направлении.
          p Ежегодно сотрудники проходят обучение по повышению квалификации, спасению на воде, а также посещают тренинги, направленные на формирование навыков гостеприимства и сервиса.

        .areas__description(data-description="8")
          p Анимация в Mriya Resort – это команда активных и креативных специалистов.Анимационные программы формируются по блокам: детская, тинейджерская и взрослая. Вы можете попробовать свои силы в нашем отделе анимации, работая с талантливыми режиссерами и артистами, это отдел не просто классической анимации, как принято в гостиницах. Мы организовываем различные театральные постановки и иммерсивные ужины.
          p Работая в команде анимации, вы можете:
          ul
            li узнать тренды анимации;
            li поделиться своим опытом;
            li заряжать и заряжаться энергией;
            li изведать все уголки комплекса «Mriya Resort & SPA»;
            li создавать и внедрять интересные игры, мастер-классы, квесты и прочее.

        .areas__description(data-description="9")
          p Сад спроектировал Широ Накане – потомственный архитектор Японских садов. Создатель сада дал ему название «Rikkyo-en» (Рёккё-эн), что переводится как «сад Шесть чувств». По буддистскому мировоззрению, когда все наши чувства погружены в момент «здесь и сейчас», можно достичь просветления и избавления от страданий.
          p Данный проект японского сада – самый крупный на территории Европы. Сад занимает площадь более 6 га и расположился на 3-х террасах.
          p Японский сад – это необычное рабочее место, здесь вы сможете познать гармонию, открыть «шестое чувство», поделиться своими идеями и воплотить их в реальность. А если вы интересуетесь японской культурой, то работая в саду, вы получите ощущение путешественника, попавшего прямиком в Японию и узнаете историю становления японских садов, тонкости обрядов чаепития и многое другое.


        .areas__description(data-description="10")
          p Семейный тематический парк чудес и приключений «ДРИМВУД» спроектирован Крисом Ланге - одним из проектов которого является «Европа парк» – крупнейший парк развлечений в Германии и второй по посещаемости парк развлечений в Европе после Диснейленда.
          p В парке ДРИМВУД природа открывает свои любящие объятия отважным исследователям и начинаются захватывающие приключения. Длинные корни Дерева объединяют обширные земли вокруг него – ареалы Леса, Воды, Гор и Ветра. У каждого гостя есть возможность бросить вызов этим стихиям, познать чудеса природы и провести много радостных мгновений с близкими.
          p Дримвуд – это команда активных ребят, создающих волшебство в реальном мире. На территории парка есть «Центр управления приключениями» – административно-бытовой комплекс, современно оборудованный комфортной кухней, офисом, местом для отдыха, раздевалками и душевыми.
          p Руководство парка Дримвуд заботится о своей команде, проводит конкурсы «Герой месяца» с главным призом, тимбилдинги, косплеи и многое другое. С командой Дримвуд, вы точно не соскучитесь!


        .areas__description(data-description="11")
          p Центр винного туризма WINEPARK – это комплекс проектов, общая миссия которых — развивать винную культуру в России и интерес к российскому виноделию как внутри страны, так и в мировом винном сообществе.
          p Архитектурное строение создавал – Марко Казамонти – ведущий итальянский архитектор, а ландшафт уличной территории проектировал Широ Накане - потомственный архитектор.
          p Общая площадь парка – 30 га. Территория парка обогащена: виноградниками (7,75 га), оливковой аллей (самое старое дерево возрастом 1300 лет), чудесной парковой территорий с множеством концептуальных инсталляций, гравитационной винодельней, сыроварней, смотровой башней (54,5 м). В рамках проекта производится: вино, сыры и оливковое масло.
          p О команде Винного парка с полной уверенностью можно сказать – эти профессионалы точно про создание и созидание. Если вам по душе винная культура, тогда вам точно в Винный парк. Вы узнаете:
          ul
            li специфику выращивания и ухода за виноградом и оливами;
            li тонкости виноделия и современные методы изготовления вина;
            li тайны сыроварения;
            li ощутите причастность к большому проекту и выходу продуктов на широкий рынок.

        .areas__description(data-description="12") Наши 11 гости любят Mriya Resort за премиальный сервис и уникальную инфраструктуру, а мы — за увлеченный, дружный коллектив и добрую атмосферу

        .areas__description(data-description="13")
          p Mriya Life – это комплексный подход для заботы о здоровье, призванный как предотвращать, так и лечить заболевания. Медицинский кластер в самом сердце Крыма, среди задач которого сохранение и восстановление здоровья, красоты и молодости людей, с особой заботой обеспечивает для каждого качественное, прогрессивное и комфортное медицинское обслуживание. Сочетая традиционную и prevent-age медицину, мы показываем, что тело человека способно на большее.
          p Команда Mriya Life – дружный, увлечённый коллектив настоящих профессионалов, любящих своё дело, добрая атмосфера, взаимная поддержка и возможности для развития. В команде развита система наставничества и регулярно проводятся корпоративные курсы и тренинги.

        .areas__description(data-description="14")
          p Отдел снабжения можно считать сердцем Mriya Resort & Spa - как сердце качает кровь, так и наш отдел снабжает отель всеми необходимыми потребностями - от тапочек до вертолетов, от канцелярии до крупного оборудования.
          p Для того, чтобы гости в наших ресторанах могли пробовать аппетитные и вкусные блюда, мы приобретаем только качественные и свежие продукты у проверенных поставщиков.
          p Мы работаем на результат!
          p Перед нашей командой стоит большая задача и ответственность, чтобы все товары и услуги были поставлены в срок - в лучшем качестве и за лучшую цену.
          p Мы постоянно изучаем рынок поставщиков необходимых товарных групп.
          p Сотрудники нацелены на результат, поэтому каждый из нас проходит обучение, а также посещает тренинги для повышения навыков своей работы!

        .areas__description(data-description="15")
          p Красота и порядок нуждаются в поддержании. Именно для этих целей и существует департамент эксплуатации и благоустройства – содержать здания, номерной фонд, инженерные системы и объекты на территории отеля в исправном состоянии и чистоте, ухаживать за огромным количеством зеленых насаждений и комнатных растений (более 400 тысяч штук со всего мира). Соответственно, основные подразделения департамента – это инженерно-техническая служба (ИТС) и служба ландшафтной архитектуры и благоустройства (СЛАиБ), насчитывающие в своем составе более 350 сотрудников.
          p Коллеги работают самыми современными инструментами, озеленяют рестораны комплекса, благоустроили вместе с ландшафтными архитекторами мирового уровня более 40 га: Японский сад, Дримвуд, MLI, Набережную, Винный парк. Также в департаменте разрабатывают и реализуют внешние объекты в Ялте, Симферополе, Москве, и принимают участие в благотворительных мероприятиях (благоустройство памятников, церквей, реализация сада памяти, мастер классы в домах милосердия и т.д.)
          p Поэтому, если Вы любите природу, растения, экологию, то эта работа для Вас!
          p Основные профессии: техники различных направлений, слесари, садовники, строители, специалисты по клинингу и другие.

        .areas__description(data-description="16")
          p Департамент построен на цифрах, данных и нормативах. Его задача – автоматизировать все бизнес-процессы. Для этого служба аналитики и автоматизации разрабатывает и сопровождает программы ELMA и 1C, а также проводит анализ эффективности процессов. В этом же департаменте бухгалтерия следит за движением денег и материальных ценностей, а также начисляет зарплату сотрудникам. Если же сотруднику понадобится справка или помощь юриста – этим занимается отдел по корпоративным и юридическим вопросам, в котором составляются договора и заявления, получаются лицензии и разрешения, контролируется соблюдение закона, применяются диджитал-технологии.
          p Структура департамента:
          ul
            li Бухгалтерия
            li Отдел по корпоративным и юридическим вопросам
            li Служба аналитики и автоматизации
          p Основные профессии: специалисты поддержки программного продукта, специалиста 1С, бизнес-аналитики, юрисконсульты, бухгалтера, архивариус и другие.

        .areas__description(data-description="17")
          p Media team – команда профессионалов, занимающихся техническим сопровождением всех мероприятий, в том числе известных селебрити.
          p Ключевые направления Media team:
          ul
            li ведение полного цикла медиа-оснащения: звуковая, световая и видео настройки;
            li застройка площадок под мероприятие (монтаж, демонтаж сцены и оборудования);
            li работа с современным оборудованием:
              ul
                li Акустические системы - D&B, RCF, DAS, Protone;
                li Цифровые пульты - Yamaha, Allen&Heath;
                li Световое оборудование - Robe, DTS,GLD;
                li Световые пульты - Hog 4, GrandMA3;
                li Видеооборудование - BlackMagic, Roland;
                li Светодиодные экраны PixelMedia.
          p В отделе медиа работают специалисты, объединенные ценностью командного духа и взаимовыручки, готовые всегда прийти на помощь и поделиться своей экспертизой с коллегами.


        .areas__description(data-description="18")
          p Департамент маркетинга — классный, креативный и творческий. Все, что вы знаете о Mriya Resort, скорее всего, вы знаете от нас. Радио, билборды, баннеры в интернете, реклама в соцсетях и HR-квизы — это все мы. Мы — ваши глаза и уши. Это наши маркетологи и пиарщики продвигают, рекламируют и продюсируют все проекты курорта, генерируют самые невероятные идеи, упаковывают их и превращают в крутые продукты. Это мы каждый день создаем яркие праздники для гостей курорта и поддерживаем творческую атмосферу в коллективе. В нашей команде:
          ul
            li отдел специальных мероприятий — отвечает за лучшие вечеринки на южном побережье Крыма;
            li отдел фото/видео — скоро получат «Оскар» и Photography Award;
            li отдел дизайна — самые талантливые креативы разрабатывают здесь;
            li отдел интернет-маркетинга — везде и всюду с вами, как только подключаетесь к сети Internet;
            li отдел PR — спецпроекты, премии, статьи во всех топовых изданиях;
            li отдел полиграфической и сувенирной продукции — все, что материально и можно подержать в руках;
            li отдел маркетинга медицины — самый здоровый, красивый и ухоженный отдел;
            li маркетинг общественного питания — самый этногастрономический и вкусный;
            li маркетинг транспортного отдела и экскурсий — самый романтичный, путешествующий и интересный;
            li маркетинг номерного фонда — это наше все;
            li HR-бренд — направление, которое заботится о сотрудниках и привлекает самых талантливых специалистов, ведь Mriya Resort – это лучшее место для работы!

        .areas__description(data-description="19")
          p Департамент по работе с персоналом, он же HR, занимается поиском, трудоустройством и адаптацией сотрудников в команде мечты. Коллеги из HR – друзья наших сотрудников не только на первых этапах работы, но и в дальнейшем, так как они заботятся о соблюдении норм охраны труда, помогают с получением компенсаций и льгот, а также рассказывают обо всех новостях компании. Девиз HR - мы создаем мир, в котором хочется остаться.
          p Основные профессии департамента: специалисты кадрового администрирования, специалисты по подбору персонала, координаторы, операторы колл-центра.


        .areas__description(data-description="20")
          p Департамент информационных технологий MRIYA RESORT & SPA — команда профессионалов, чья работа не видна невооруженным глазом, но входит в жизнь все большего числа гостей и сотрудников отеля.
          p Команда Департамента информационных технологий работает над тем, чтобы возможности, которые дают информационные технологии сегодня, помогали каждому гостю и сотруднику получать актуальную именно для него информацию, оперативно решать важные вопросы и экономить самое ценное, что у него есть – время.
          p Мы всегда придем на помощь, чтобы перезагрузить компьютер, сбросить забытый пароль и сделать так, чтобы «всё заработало».
          p Давайте посмотрим, чем еще занимаются сотрудники ИТ-департамента в нашем отеле:
          ul
            li Отдел бизнес-приложений поддерживает работу бизнес систем отеля: TNG, MICROS, Fidelio, Битрикс.
            li В отделе технической поддержки помогают сотрудникам отеля, если программы или техника выдают ошибку и всячески капризничают.
            li Отдел инфраструктуры обеспечивает систему необходимым оборудованием: серверами, сетевыми проводами и беспроводными линиями связи, телефонами.
            li В отделе проектов работают над внедрением перспективных технологических решений в Mriya Resort с последующим выходом на внешний рынок.

          p В частности, обеспечивается бесперебойная и круглосуточная работу корпоративной почтовой связи, серверной инфраструктуры (физической и виртуальной), расположенной в центре обеспечения данных и в офисе, интеграционные решения внутри корпоративных баз данных, а также технических средств криптографической защиты информации, гарантирующих безопасность и надежность совершаемых операций.
          p Цифровых продуктов становится больше, увеличивается спрос на тех, кто может их поддерживать. Поэтому профессия в IT — это актуально и востребовано. Это полезная и творческая работа.
          p В нашей команде тебя ждет интересная и динамичная работа, в которой ИТ-навыки тесно переплетаются с необходимостью взаимодействовать с людьми.
          p В твои задачи могут входить первичная техподдержка клиентов и сотрудников— как дистанционно, так и при личном взаимодействии, настройка компьютеров и другого оборудования и ПО, написание статей для базы знаний, базовое администрирование сетевой инфраструктуры и решение других вопросов.
          p Сильная команда специалистов в области информационных технологий — серьезное конкурентное преимущество организации, особенно когда речь идет о рынке профессиональных услуг. Задачи нашего департамента выходят далеко за рамки развития внутренней ИТ-инфраструктуры и поддержки пользователей. Важной частью нашей работы является обеспечение информационной безопасности, поскольку от этого зависит конфиденциальность и целостность данных не только нашей компании, но и наших клиентов. Мы также обеспечиваем технологическую поддержку проектов наших профильных департаментов, помогая тем самым существенно повысить качество оказываемых услуг. В основе нашей работы лежат передовые методологии, инструменты и системы, а самое главное — глубокие знания и уникальный опыт наших специалистов.
          p Нашей команде требуются талантливые и целеустремленные сотрудники, которые не боятся ответственности и сложностей и всегда открыты для новых знаний и опыта.

        .areas__description(data-description="21")
          p Основная задача протокольной службы Mriya Resort & SPA — это организация процесса внутреннего и внешнего взаимодействия по управлению делами генерального директора по 5 основным направлениям:
          ul
            li Работа с VVIP сегментом гостей;
            li Протокольное сопровождение совещаний первых лиц;
            li Операционные дежурства MOD;
            li Административная деятельность и документооборот;
            li Социальные обязательства и подарочный фонд.
          p Мы команда профессионалов, чей жизненный успех зависит в решающей степени от нас самих. Мы являемся первооткрывателями протокольной деятельности в отельном бизнесе и сфере гостеприимства.
          p Деятельность службы протокола зачастую скрыта от публики, однако во многом именно наша компетентная работа способствует повышению развития доверительных, надежный партнерских отношений, влияющая на имидж компании.
          p Наша миссия – Протокол, как основа построения деловых отношений и достижения командного результата.

        .areas__description(data-description="22")
          p Департамент управления процессами отвечает за организацию постоянного улучшения всех процессов в Mriya Resort & SPA.
          p Здесь знают все о работе других, и ничто не остается незамеченным: будь то пылинка на стеклянной вазе или улыбка на лице гостя после общения с тобой. Благодаря департаменту управления процессами компания прошла международный стандарт по системе менеджмента качества ISO 9001 от швейцарской компании SGS. Поддерживает эту систему отдел качества и сертификации: пишет и проверяет инструкции, приказы; ведет базу «Базы знаний» в программе Битрикс, моделирует процессы в Business Studio, определяет цели по качеству и экологии. Для того, чтобы сервис всегда оставался на высочайшем уровне, отдел аудита качества ежедневно проверяет работу служб отеля.
          p Команда департамента управления процессами всегда готова прийти на помощь своим коллегам! Они организовывают внутренние и внешние проверки качества сервиса, операционных процессов, системы управления компании, координируют работу по управлению стандартами компании.
          p Ежегодно сотрудники проходят обучение по повышению квалификации, а также организовывают обучения для сотрудников компании лучшим практикам по повышению качества и улучшению процессов.
          p Основные профессии: инженеры по качеству, специалисты по финансам, специалисты по туризму и гостиничному бизнесу.


        .areas__description(data-description="23")
          p Департамент финансов в Mriya Resort & SPA состоит из нескольких подразделений:
          ul
            li Отдел по контролю затрат
            li Единое Окно приема первичной документации
            li Группа управления складами
            li Финансовый контроль строительства
            li Отдел отчетности и аналитики
            li Казначейство
            li Отдел по контролю выручки

          h3 Отдел по контролю затрат
          p Сотрудники Отдела осуществляют контроль и участвуют в согласовании по процессам заявки на закупку, заявки на оплату, договорной документации, АО и закрывающих документов.
          p Проводят анализ затрат и расходов организации, осуществляют составление отчетности, как периодической, так и по запросу коллег из других департаментов.
          p Именно сотрудники Отдела по контролю затрат осуществляют тесную коммуникацию с коллегами из всех структурных подразделений компании.
          p За последние пару лет Отдел вырос качественно и количественно и продолжает расти.
          p Работа отдела направлена на погружение в жизнь компании, а также оказание помощи в необходимых проверках и экономическом анализе деятельности как в рамках отдельных процессов, так и работы направлений бизнеса.

          h3 Единое Окно приема первичной документации
          p Цель работы Единого Окна – быстрая и прозрачная обработка документации, систематизация отслеживания жизненного цикла документов и ведение единой базы и сохранение истории согласования каждого акта выполненных работ. Повышение эффективности работы с дебиторской задолженностью и корректность оформления и отражения документов в бухгалтерском учете, анализ расходов на основании достоверной информации являются результатом деятельности Единого Окна.

          h3 Группа управления складами
          p Цели и задачи группы управления складами:
          ul
            li Стандартизация и оптимизация процессов приёма, хранения и выдачи ТМЦ
            li Совершенствование средств и программных продуктов, направленных на повышение эффективности
            li Рациональное использование складских помещений
            li Развитие внутрискладской системы логистики с целью повышения эффективности

          p Основной деятельностью подразделения является прием, хранение, учет и выдача ТМЦ; поддержание на складах определенного уровня ТМЦ для обеспечения непрерывной операционной деятельности Общества; оформление заявок на закупку ТМЦ; проведение инвентаризаций; отслеживание сроков годности и т.д.

          h3 Финансовый контроль строительства
          p В нашей организации ФКС осуществляет свою деятельность по двум направлениям. Одно из которых –  это строительство новых объектов, другое направление – ремонт.
          p Главные цели отдела финансового контроля строительства – это сокращение расходов и оптимизация затрат компании, экономия средств компании посредством проверки документов, подтверждающих стоимость строительных работ - смет.
          p Наша служба выполняет расчет смет, проверку выполненных работ, контроль расчетов и участие в согласовании бюджетов строительства, проверку и договоров на ремонтные и строительные работы, осуществляет весь процесс оплаты счетов по выполненным работам.
          p Наши сотрудники – специалисты по ценообразованию – это инженеры и экономисты в одном лице.

          h3 Отдел отчетности и аналитики
          p Основные функции:
          ul
            li Формирование финансовой управленческой отчетности;
            li Подготовка консолидированного бюджета компании;
            li Построение финансовых моделей, оценка проектов, финансовый анализ.

          p Внутри отдела выделен участок капитальных инвестиций в лице старшего специалиста, который занимается контролем за инвестиционными тратами, начиная с создания модели проекта и заканчивая согласованием закупок по САРЕХ бюджетам.

          h3 Казначейство
          p Сотрудники казначейства проводят банковские операции: отправляют платежи в банк, работают с банковскими выписками, размещают свободные денежные средства на депозитах, заключают валютные сделки, ведут коммуникацию с банками.

          h3 Отдел по контролю выручки
          p Сотрудники Отдела осуществляют Анализ эффективности работы бизнеса и внесение предложений по увеличению выручки, разрабатывают механики и методических рекомендаций по сопровождению бизнеса в части выручки и контроля денежных средств, сопровождение бизнеса в части работы операционных касс и кассовой дисциплины, контроль и предотвращение хищение и уменьшения выручки на точках продаж, согласовывают всю доходную документацию.
          p Сотрудники отдела взаимодействуют тесно со всеми департаментами.
          p Высокий результат деятельности компании - это результат достойной работы всех ее подразделений. Обеспечение контроля корректной работы по процессам, прозрачность закупок, распределение затрат по ЦФО дает компании возможность анализировать и наиболее эффективно планировать свою операционную работу.


        .areas__description(data-description="24")
          p Академия гостеприимства – это учебный центр для развития сотрудников и успешного построения карьеры. Здесь каждый может выбрать курс или программу обучения для того, чтобы повышать свои профессиональные навыки, овладевать новыми компетенциями и быть в кругу единомышленников. Благодаря смешанному формату (очному и онлайн), а также регулярному проведению обучения (более 5 образовательных мероприятий в месяц) сотрудникам легко совмещать учебу и работу. Академия работает со многими организациями в туризме на территории всей страны и обучила более 3500 специалистов сферы гостеприимства. Её миссия – превратить российский сервис в международный бренд!
          p Основные профессии: заведующий учебной частью, бизнес-тренер, куратор, координатор методист, специалист отдела продаж, менеджеры по дистанционному обучению, развитию, продвижению, работе с партнерами.



        b.areas__subtitle Направления работы
        ul.areas__list
          li.areas__item(data-area="1") Транспорт
          li.areas__item(data-area="2") Безопасность
          li.areas__item(data-area="3") Велком-центр
          li.areas__item(data-area="4") Номерной фонд
          li.areas__item(data-area="5") SPA-центр
          li.areas__item(data-area="6") Фитнес-центр
          li.areas__item(data-area="7") Пляж и бассейны
          li.areas__item(data-area="8") Анимация
          li.areas__item(data-area="9") Японский сад «Шесть чувств»
          li.areas__item(data-area="10") Дримвуд
          li.areas__item(data-area="11") Winepark
          li.areas__item(data-area="12") Питание
          li.areas__item(data-area="13") Медицина и оздоровление
          li.areas__item(data-area="14") Снабжение
          li.areas__item(data-area="15") Эксплуатация и благоустройство
          li.areas__item(data-area="16") Сопровождение бизнеса
          li.areas__item(data-area="17") Медиа
          li.areas__item(data-area="18") Маркетинг
          li.areas__item(data-area="19") HR
          li.areas__item(data-area="20") IT
          li.areas__item(data-area="21") Протокольная служба
          li.areas__item(data-area="22") Департамент управления процессами
          li.areas__item(data-area="23") Финансы
          li.areas__item(data-area="24") Учебный центр

          li.areas__item--more


      .areas__images
        img(src="./assets/img/areas/transport.jpg" data-image="1")
        img(src="./assets/img/areas/security.jpg" data-image="2")
        img(src="./assets/img/areas/welcome.jpg" data-image="3")
        img(src="./assets/img/areas/number-fund.jpg" data-image="4")
        img(src="./assets/img/areas/spa.jpg" data-image="5")
        img(src="./assets/img/areas/fitness.jpg" data-image="6")
        img(src="./assets/img/areas/pool.jpg" data-image="7")
        img(src="./assets/img/areas/animation.jpg" data-image="8")
        img(src="./assets/img/areas/japanese-garden.jpg" data-image="9")
        img(src="./assets/img/areas/dreamwood.jpg" data-image="10")
        img(src="./assets/img/areas/winepark.jpg" data-image="11")
        img(src="./assets/img/areas/food.jpg" data-image="12")
        img(src="./assets/img/areas/medicine.jpg" data-image="13")
        img(src="./assets/img/areas/supply.jpg" data-image="14")
        img(src="./assets/img/areas/improvement.jpg" data-image="15")
        img(src="./assets/img/areas/business.jpg" data-image="16")
        img(src="./assets/img/areas/media.jpg" data-image="17")
        img(src="./assets/img/areas/marketing.jpg" data-image="18")
        img(src="./assets/img/areas/hr.jpg" data-image="19")
        img(src="./assets/img/areas/it.jpg" data-image="20")
        img(src="./assets/img/areas/protocol.jpg" data-image="21")
        img(src="./assets/img/areas/process-management.jpg" data-image="22")
        img(src="./assets/img/areas/finance.jpg" data-image="23")
        img(src="./assets/img/areas/educational-center.jpg" data-image="24")





