.employment.employment--student
  .employment__container.container
    h2.title-section.employment__title Процесс трудоустройства
    ul.employment__advantages.employment-advantages
      li.employment-advantages__item Все резюме, которые мы получаем, мы сохраняем с вашего согласия
      li.employment-advantages__item Если вы не нашли подходящую вакансию, следите за обновлениями
      li.employment-advantages__item Cтараемся предоставить обратную связь как можно быстрее
      li.employment-advantages__item Если желаемая вакансия вам не подойдёт, предложим другой вариант

    .employment__content

      .employment-swiper.swiper
        .employment__images.swiper-wrapper
          .swiper-slide.employment__image-item-wrapper
            img.employment__image-item(src="./assets/img/employment/01.jpg")
          .swiper-slide.employment__image-item-wrapper
            img.employment__image-item(src="./assets/img/employment/02.jpg")
          .swiper-slide.employment__image-item-wrapper
            img.employment__image-item(src="./assets/img/employment/03.jpg")
          .swiper-slide.employment__image-item-wrapper
            img.employment__image-item(src="./assets/img/employment/04.jpg")
          .swiper-slide.employment__image-item-wrapper
            img.employment__image-item(src="./assets/img/employment/05.jpg")

        .swiper-pagination


      .employment__steps.employment-steps

        ul.employment-steps__list
          span.employment-steps__line.employment-steps__line--static
          span.employment-steps__line.employment-steps__line--change

          li.employment-steps__item.employment-steps-item
            span.employment-steps-item__number(data-number="1") 1
            b.employment-steps-item__title Найти подходящую вакансию и откликнуться
            p.employment-steps-item__text Мы рассматрим заявку (не волнуйтесь, это не долго) и пригласим вас на следующий этап

          li.employment-steps__item.employment-steps-item
            span.employment-steps-item__number(data-number="2") 2
            b.employment-steps-item__title Собеседование со специалистом по подбору
            p.employment-steps-item__text Познакомимся, подробнее расскажем про вакансию и условия работы, обсудим ваши ожидания, ответим на вопросы, уточним компетенции и сведения в анкете.
            .employment__connection.employment-connection
              span Где
              .employment-connection__list
                img(src="./assets/img/icons/social/light/skype.svg" title="skype")
                img(src="./assets/img/icons/social/light/telegram.svg" title="telegram")
                img(src="./assets/img/icons/social/light/whatsapp.svg" title="whatsapp")
                img(src="./assets/img/icons/social/light/tel.svg" title="phone")


          li.employment-steps__item.employment-steps-item
            span.employment-steps-item__number(data-number="3") 3
            b.employment-steps-item__title Интервью с вашим будущим руководителем
            p.employment-steps-item__text Познакомимся, подробнее расскажем про вакансию и условия работы, обсудим ваши ожидания, ответим на вопросы, уточним компетенции и сведения в анкете.
            .employment__connection.employment-connection
              span Где
              .employment-connection__list
                img(src="./assets/img/icons/social/light/skype.svg" title="skype")
                img(src="./assets/img/icons/social/light/telegram.svg" title="telegram")
                img(src="./assets/img/icons/social/light/whatsapp.svg" title="whatsapp")
                img(src="./assets/img/icons/social/light/tel.svg" title="phone")



          li.employment-steps__item.employment-steps-item
            span.employment-steps-item__number(data-number="4") 4
            b.employment-steps-item__title Решение о соответствии
            p.employment-steps-item__text Успешным кандидатам поступает предложение о работе и предложение о переезде


          li.employment-steps__item.employment-steps-item
            span.employment-steps-item__number(data-number="5") 5
            b.employment-steps-item__title Поздравляем, вы приняты на работу в Mriya Resort & SPA!
            p.employment-steps-item__text Вас знакомят с командой и рабочими процессами, обучают функционалу. Добро пожаловать в команду мечты!

    a.button.button--accent.employment__button(href="vacanciesFilter.html") Перейти к вакансиям
