.employment
  background-color: #F9FBFD
  padding: clamp(48px, calc(48px + (156 - 48) * ((100vw - 768px) / (1920 - 768))), 156px) 0
  &.employment--student
    position: relative
    background-color: #252424
    color: #fff
    &::before,
    &::after
      position: absolute
      content: ""
      background-image: url('../img/student/employment-decor-frame.svg')
      width: 100%
      @include changeSize(height, 30, 60)
      left: -5px
      background-position: center
      background-size: cover
      background-repeat: no-repeat
    &::before
      top: -2px
    &::after
      bottom: -2px
      transform: scale(-1)

    .employment-advantages
      color: #252424
    .employment-steps__line
      background-color: $black
    .employment-steps-item__number
      background-color: $black
      color: #fff

    .employment-steps-item
      &.js-step-active
        background-color: #fff
        color: $black
        border-color: currentColor
        .employment-steps-item__number
          background-color: #fff
          color: $black
        .employment-connection__list svg
          fill: $black
        .employment-connection__list svg path
          fill: $black
      .employment-connection__list svg path
        fill: #fff
      &:hover
        @media (min-width: 1001px)
          border-color: currentColor


  &__title
    margin-bottom: 64px

  &-advantages
    margin: 0 auto
    margin-bottom: 96px
    background-color: #fff
    justify-content: center
    display: grid
    grid-template-columns: repeat(4, 1fr)
    @media (max-width: 1300px)
      grid-template-columns: repeat(2, 1fr)
    @media (max-width: 768px)
      margin-bottom: 48px
    @media (max-width: 768px)
      grid-template-columns: 1fr

    &__item
      margin: 0 auto
      padding: 40px
      max-width: 330px
      @include fontSize(14, 16)
      @media (max-width: 1300px)
        padding: 20px

  &__content
    display: flex
    gap: 48px 128px
    @media (max-width: 1000px)
      display: none
      gap: 24px
      flex-direction: column
      overflow-x: scroll
      -ms-overflow-style: none
      scrollbar-width: none
      &::-webkit-scrollbar
        width: 0


  &__images
    position: sticky
    top: 100px
    width: 100%
    flex: 0 0 45%
    height: auto
    max-height: 750px
    @media (max-width: 1000px)
      position: initial
      flex: initial
      height: 400px
      display: flex
      gap: 20px
    @media (max-width: 480px)
      height: 300px


    img
      position: absolute
      width: 100%
      height: 100%
      object-fit: cover
      display: block
      opacity: 1
      transition: 0.3s
      &.js-hidden
        opacity: 0
      @media (max-width: 1000px)
        position: initial
        max-height: 400px
        aspect-ratio: 1 / 1.2
      @media (max-width: 480px)
        max-height: 300px

  .employment__image-item-wrapper
    box-shadow: none


  &-steps

    &__list
      position: relative
      display: flex
      flex-direction: column
      gap: 20px
      padding: 20px 0
      @media (max-width: 1000px)
        padding: 0
        flex-direction: row
        width: fit-content
        margin-left: auto

    &__line
      position: absolute
      width: 1px
      left: -64px
      top: 0
      background-color: #3937371A
      height: 100%
      @media (max-width: 1000px)
        left: -24px

    &-item
      position: relative
      display: flex
      flex-direction: column
      gap: 8px
      padding: 15px
      border-radius: 10px
      cursor: pointer
      border: 2px solid transparent
      transition: $transition
      @media (min-width: 1001px)
        &:hover
          border-color: $black
      @media (max-width: 1000px)
        flex: 0 0 calc(400px/1.2)
        padding: 10px 10px 10px 40px
      @media (max-width: 480px)
        flex: 0 0 calc(300px / 1.2)

      &.js-step-active
        background-color: $black
        color: #fff
        .employment-connection__list svg
          fill: $black
        .employment-connection__list svg path
          fill: #fff
      &.js-step-active &__number
        background-color: $black
        border-color: $black
        color: #fff

      &__number
        position: absolute
        color: $black
        font-weight: 600
        background-color: #F9FBFD
        width: 28px
        aspect-ratio: 1 / 1
        border-radius: 50%
        border: 1px solid #39373726
        @extend .flex-center
        left: -50px
        transform: translateX(-100%)
        transition: $transition
        user-select: none
        cursor: pointer
        @media (max-width: 1000px)
          left: 28px

      &__title
        @include fontSize(16, 20)

      &__text
        @include fontSize(14, 16)
        line-height: 1.5

  &-connection
    display: flex
    gap: 8px
    &__list
      display: flex
      gap: 8px
      align-items: center
      flex-wrap: wrap

  &__button
    display: block
    margin: 120px auto 0
    @media (max-width: 1000px)
      margin-top: 60px


  &__content-swiper
    position: relative
    .employment__image
      height: 300px
      img
        width: 100%
        height: 100%
        object-fit: cover
    .swiper-scrollbar
      bottom: -10px
    .swiper-slide:hover
      box-shadow: none
    @media (min-width: 1000px)
      display: none
