.employment.employment--student
  .employment__container.container
    h2.title-section.employment__title Процесс трудоустройства
    ul.employment__advantages.employment-advantages
      li.employment-advantages__item Все резюме, которые мы получаем, мы сохраняем с вашего согласия
      li.employment-advantages__item Если вы не нашли подходящую вакансию, следите за обновлениями
      li.employment-advantages__item Cтараемся предоставить обратную связь как можно быстрее
      li.employment-advantages__item Если желаемая вакансия вам не подойдёт, предложим другой вариант

    .employment__content

      .employment__images
        img(src="./assets/img/employment/01.jpg")
        img(src="./assets/img/employment/02.jpg")
        img(src="./assets/img/employment/03.jpg")
        img(src="./assets/img/employment/04.jpg")
        img(src="./assets/img/employment/05.jpg")
        img(src="./assets/img/employment/03.jpg")
        img(src="./assets/img/employment/02.jpg")


      .employment__steps.employment-steps

        ul.employment-steps__list
          span.employment-steps__line

          li.employment-steps__item.employment-steps-item
            span.employment-steps-item__number 1
            b.employment-steps-item__title Заявка
            p.employment-steps-item__text Все начинается с выбора вакансии и заполнения анкеты. После заполнения заявка поступает к нам, мы ее рассматриваем (не волнуйтесь, это займет некоторое время) и приглашаем вас на следующий этап.

          li.employment-steps__item.employment-steps-item
            span.employment-steps-item__number 2
            b.employment-steps-item__title Знакомство с рекрутером
            p.employment-steps-item__text Обычно собеседование проходит по Skype и длится не более 10-15 минут. Познакомимся, подробнее расскажем про вакансию и условия работы, обсудим ваши ожидания, ответим на вопросы, уточним компетенции и сведения в анкете.
            .employment__connection.employment-connection
              span Где
              .employment-connection__list
                include ../../img/icons/social/skype.svg
                include ../../img/icons/social/telegram.svg
                include ../../img/icons/social/whatsapp.svg
                include ../../img/icons/social/tel.svg


          li.employment-steps__item.employment-steps-item
            span.employment-steps-item__number 3
            b.employment-steps-item__title Собеседование с руководителем
            p.employment-steps-item__text Знакомство с руководителем по телефону или онлайн. Это более обстоятельное и конкретное интервью: детальное обсуждение условий работы и вашей квалификации.
            .employment__connection.employment-connection
              span Где
              .employment-connection__list
                include ../../img/icons/social/skype.svg
                include ../../img/icons/social/telegram.svg
                include ../../img/icons/social/whatsapp.svg
                include ../../img/icons/social/tel.svg


          li.employment-steps__item.employment-steps-item
            span.employment-steps-item__number 4
            b.employment-steps-item__title Финальный этап
            p.employment-steps-item__text Успешным кандидатам поступает предложение о работе в Mriya Resort & SPA.

          li.employment-steps__item.employment-steps-item
            span.employment-steps-item__number 5
            b.employment-steps-item__title Переезд и заселение
            p.employment-steps-item__text Прохождение медосмотра. Наш HR-координатор поможет вам пройти все формальные процедуры, расположиться и освоиться на новом месте.

          li.employment-steps__item.employment-steps-item
            span.employment-steps-item__number 6
            b.employment-steps-item__title Трудоустройство
            p.employment-steps-item__text В офисе компании оформляем документы и заключаем трудовой договор согласно ТК РФ. Поздравляем, вы приняты на работу в Mriya Resort & SPA!

          li.employment-steps__item.employment-steps-item
            span.employment-steps-item__number 7
            b.employment-steps-item__title Адаптация на рабочем месте
            p.employment-steps-item__text Вас знакомят с командой и рабочими процессами, обучают функционалу. Добро пожаловать в команду мечты!


    a.button.button--accent.employment__button(href="vacancies.html") Перейти к вакансиям
