.feedback.feedback--student
  .feedback__container.container
    .feedback__inner
      img(src="./assets/img/faq-feedback.png")
      .feedback__text
        b Не можете найти ответ на свой вопрос?
        p Пожалуйста напишите нам, ответим как можно быстрее
      button.button.button--accent.feedback__button.button-popup Задать вопрос
