footer.footer
  .footer__container.container

    .footer__inner

      .footer__other-info
        span.footer__copyright © <i class="footer__copyright-year">2023</i> Mriya Resort & Spa
        a.footer__politics(href="./assets/files/policy-2022.pdf" target="_blank") Политика конфиденциальности

      ul.footer__contact-list

        li.footer__contact-item
          a.footer__contact-email(href="mailoto:job@mriyaresort.com") job@mriyaresort.com

        li.footer__contact-item
          a.footer__contact-tel(href="tel:88005008964") 8 800 500-89-64

        li.footer__contact-item
          button.ask.button-popup-ask Задать вопрос
