footer.footer
  .footer__container.container

    .footer__other-info
      span.footer__copyright © 2022 Mriya Resort & Spa
      a.footer__politics(href="") Политика конфиденциальности

    ul.footer__contact-list

      li.footer__contact-item
        a.footer__contact-email(href="mailoto:job@mriyaresort.com") job@mriyaresort.com

      li.footer__contact-item
        a.footer__contact-tel(href="tel:88005008964") 8 800 500-89-64

      li.footer__contact-item
        button.ask Задать вопрос
