.mission
  .mission__container.container
    .mission__content
      span.mission__note Наша миссия
      h2.mission__title.title-section Мы стремимся создать мир, в который всегда хочется вернуться
      p.mission__text Высокая оценка Гостей комплекса, удовлетворённость наших сотрудников и партнёров — это основа успешного развития нашего бизнеса
    .mission__image
      img(src="./assets/img/mission.jpg")
