.blog
  .blog__container.container
    h1.blog__title.title-section Блог
    ul.blog__theme-list
      li.blog__theme-item Все
      li.blog__theme-item Благоустройство
      li.blog__theme-item Дримвуд
      li.blog__theme-item Инженерно-технические объекты
      li.blog__theme-item Медицина
      li.blog__theme-item Отель
      li.blog__theme-item Офис
      li.blog__theme-item Пляж
      li.blog__theme-item Рестораны
      li.blog__theme-item Theme 1
      li.blog__theme-item Theme 2
      li.blog__theme-item Theme 3
      li.blog__theme-item--btn-more

    .blog__list

      a.blog__article(href="article.html")
        .blog__article-header
          img(src="./assets/img/blog/01.jpg")
        span.blog__article-heading рубрика
        h2.blog__article-title Lorem ornare euismod fermentum eu massa commodo. Proin.
        h2.blog__article-title Lorem ornare euismod fermentum eu massa commodo. Proin.
        h2.blog__article-title Lorem ornare euismod fermentum eu massa commodo. Proin.
        h2.blog__article-title Lorem ornare euismod fermentum eu massa commodo. Proin.
        span.blog__article-date 30 декабря 2022

      a.blog__article(href="article.html")
        .blog__article-header
          img(src="./assets/img/blog/02.jpg")
        span.blog__article-heading рубрика
        h2.blog__article-title Quis sit lacus commodo placerat neque id. Diam purus dictumst risus.
        span.blog__article-date 30 декабря 2022

      a.blog__article(href="article.html")
        .blog__article-header
          img(src="./assets/img/blog/03.jpg")
        span.blog__article-heading рубрика
        h2.blog__article-title Urna id mauris a quis id montes. Fusce lacus aliquam et sed massa.
        span.blog__article-date 30 декабря 2022

      a.blog__article(href="article.html")
        .blog__article-header
          img(src="./assets/img/blog/04.jpg")
        span.blog__article-heading рубрика
        h2.blog__article-title Euismod faucibus turpis sapien sed ultrices sed massa rutrum. Lectus.
        span.blog__article-date 30 декабря 2022

      a.blog__article(href="article.html")
        .blog__article-header
          img(src="./assets/img/blog/05.jpg")
        span.blog__article-heading рубрика
        h2.blog__article-title Nunc enim nisl commodo libero. Egestas orci lobortis sed non.
        span.blog__article-date 30 декабря 2022

      a.blog__article(href="article.html")
        .blog__article-header
          img(src="./assets/img/blog/06.jpg")
        span.blog__article-heading рубрика
        h2.blog__article-title Enim at sed aliquam vel mauris amet quis. Porta risus orci id pulvinar eget.
        span.blog__article-date 30 декабря 2022


      button.vacancies-button.vacancies-button--black.blog__more Загрузить ещё


