// Шаблон
.breadcrumbs
  .breadcrumbs__container.container
    a.breadcrumbs__item(href="/") Главная
    a.breadcrumbs__item(href="vacanciesFilter.html") Список вакансий
    a.breadcrumbs__item(href="") Вакансия
