.vacancy

  .vacancy__container.container

    .vacancy__data
      h1 Специалист по работе с гостями – оператор аттракционов
      .vacancy__advantages
        span Заработная плата: оклад 30 000 ₽, <br> KPI 3000 ₽ (выплачивается после испытательного срока), <br> сезонная надбавка с мая по октябрь — 5000 ₽
        span Занятость: 5/2, с 09:00 до 18:00, выходные дни — среда и четверг

      .vacancy__section
        h2 Требования
        ul
          li Грамотная речь
          li Умение работать с людьми, стрессоустойчивость
          li Опыт работы аниматором, вожатым, ведущим не является обязательным, но будет являться преимуществом
          li Отсутствие аллергических реакций (обязательно), готовность к нанесению грима
          li Умение плести косы

      .vacancy__section
        h2 Обязанности
        ul
          li Оперативная работа на различных аттракционах и активностях парка
          li Работа с реквизитом и велком-зоне
          li Встреча гостей парка, реклама платных активностей (платные активности есть внутри каждого аттракциона)

      .vacancy__section
        h2 Условия
        ul
          li Жилье или компенсация съемной квартиры
          li Питание на территории отеля
          li Трансфер до места работы
          li Компенсация переезда в Ялту
          li Официальное трудоустройство
          li Достойная зарплата
          li Возможность карьерного и профессионального роста
          li Регистрация для иностранных граждан
          li Компенсация 50% стоимости занятий на Skyeng
          li Большой и дружный коллектив
          li Клубы и секции по интересам
          li Помощь на всех этапах прибытия в Крым
          li Тренинги, семинары и вебинары от Академии Гостеприимства
          li Бонусы и скидки на услуги курорта



    .vacancy__hr.vacancy-hr
      h2.vacancy-hr__title Контакты HR
      .vacancy-hr__data
        .vacancy-hr__person.vacancy-hr-person
          .vacancy-hr-person__image
            img(src="./assets/img/contacts/01.jpg")
          b.vacancy-hr-person__name Константинопольский Константин
          span.vacancy-hr-person__post Сотрудник отдела кадров
        .vacancy-hr__contacts.vacancy-hr-contacts
          a.vacancy-hr-contacts__item(href="tel:88005505271") 8 800 550-52-71
          a.vacancy-hr-contacts__item(href="mailto:job@mriyaresort.com") job@mriyaresort.com

      .button.button--accent.vacancy-hr__button.button-popup Откликнуться на вакансию




