.vacancy

  .vacancy__container.container

    .vacancy__data
      h1 Уборщик производственных и служебных помещений <br> (дневная и ночная смены)
      .vacancy__advantages
        span Заработная плата: 25 000 ₽
        span Занятость: 2/2, дневные и ночные смены


      .vacancy__section
        h2 Требования
        ul
          li Без опыта работы, готовность к физически интенсивному труду
          li Без ограничений по здоровью, отсутствие аллергии на дезинфицирующие и моющие средства


      .vacancy__section
        h2 Обязанности
        ul
          li Уборка общественных гостевых и служебных зон, в том числе мытье санузлов и душевых
          li Мытье полов поломоечной машиной, мытье остекления, вынос мусора


      .vacancy__section
        h2 Условия
        ul
          li Жилье или компенсация съемной квартиры
          li Питание на территории отеля
          li Трансфер до места работы
          li Компенсация переезда в Ялту
          li Официальное трудоустройство
          li Достойная зарплата
          li Возможность карьерного и профессионального роста
          li Регистрация для иностранных граждан
          li Компенсация 50% стоимости занятий на Skyeng
          li Большой и дружный коллектив
          li Клубы и секции по интересам
          li Помощь на всех этапах прибытия в Крым
          li Тренинги, семинары и вебинары от Академии Гостеприимства
          li Бонусы и скидки на услуги курорта



    .vacancy__hr.vacancy-hr
      h2.vacancy-hr__title Контакты HR
      .vacancy-hr__data
        .vacancy-hr__person.vacancy-hr-person
          .vacancy-hr-person__image
            img(src="./assets/img/contacts/01.jpg")
          b.vacancy-hr-person__name Константинопольский Константин
          span.vacancy-hr-person__post Сотрудник отдела кадров
        .vacancy-hr__contacts.vacancy-hr-contacts
          a.vacancy-hr-contacts__item(href="tel:88005505271") 8 800 550-52-71
          a.vacancy-hr-contacts__item(href="mailto:job@mriyaresort.com") job@mriyaresort.com

      .button.button--accent.vacancy-hr__button.button-popup Откликнуться на вакансию




