.vacancy
  a.breadcrumbs__item.container(href="index.html") Назад
  .vacancy__container.container

    .vacancy__data
      h1.vacancy__title Водитель клаб-кара (на сезон)
      .vacancy__advantages
        span.vacancy__advantages-item Достойная зарплата
        span.vacancy__advantages-item Сменный график

      .vacancy__section.vacancy-section
        h2.vacancy-section__title Требования
        ul.vacancy-section__list
          li.vacancy-section__item Водительский стаж от 1 года
          li.vacancy-section__item Грамотная речь, клиентоориентированность

      .vacancy__section.vacancy-section
        h2.vacancy-section__title Обязанности
        ul.vacancy-section__list
          li.vacancy-section__item Перевозка гостей по территории комплекса на клаб-каре (электромобиле)
          li.vacancy-section__item Обслуживание клаб-кара, поддержание клаб-кара в чистоте
          li.vacancy-section__item Водительское удостоверение (категория В)

      .vacancy__section.vacancy-section
        h2.vacancy-section__title Условия
        ul.vacancy-section__list
          li.vacancy-section__item Сменный график работы
          li.vacancy-section__item Жилье или компенсация съемной квартиры
          li.vacancy-section__item Питание на территории отеля
          li.vacancy-section__item Трансфер до места работы
          li.vacancy-section__item Компенсация переезда в Ялту
          li.vacancy-section__item Официальное трудоустройство
          li.vacancy-section__item Достойная зарплата
          li.vacancy-section__item Возможность карьерного и профессионального роста
          li.vacancy-section__item Регистрация для иностранных граждан
          li.vacancy-section__item Компенсация 50% стоимости занятий на Skyeng
          li.vacancy-section__item Большой и дружный коллектив
          li.vacancy-section__item Клубы и секции по интересам
          li.vacancy-section__item Помощь на всех этапах прибытия в Крым
          li.vacancy-section__item Тренинги, семинары и вебинары от Академии Гостеприимства
          li.vacancy-section__item Бонусы и скидки на услуги курорта



    .vacancy__hr.vacancy-hr
      h2.vacancy-hr__title Контакты HR
      .vacancy-hr__data
        .vacancy-hr__person.vacancy-hr-person
          .vacancy-hr-person__image
            img(src="./assets/img/contacts/01.jpg")
          b.vacancy-hr-person__name Константинопольский Константин
          span.vacancy-hr-person__post Сотрудник отдела кадров
        .vacancy-hr__contacts.vacancy-hr-contacts
          a.vacancy-hr-contacts__item(href="tel:88005505271") 8 800 550-52-71
          a.vacancy-hr-contacts__item(href="mailto:job@mriyaresort.com") job@mriyaresort.com

      .button.button--accent.vacancy-hr__button Откликнуться на вакансию




