.container
  .values
    .values__container
      h2.title-section Наши ценности

      ul.values__list

        li.values__item.values-item
          .values-item__image
            img(src="./assets/img/values/01.png")
          .values-item__content
            span.values-item__note Дух лидерства
            h3.values-item__title Мы делаем лучшее, на что мы способны
            p.values-item__text Высокая оценка Гостей комплекса, удовлетворённость наших сотрудников и партнёров — это основа успешного развития нашего бизнеса


        li.values__item.values-item
          .values-item__image
            img(src="./assets/img/values/02.jpg")
          .values-item__content
            span.values-item__note Командный дух
            h3.values-item__title Мы помогаем друг другу и работаем на общий результат
            p.values-item__text  Наши отношения строятся на взаимном уважении и доверии. Мы создаём условия для развития и роста всех


        li.values__item.values-item
          .values-item__image
            img(src="./assets/img/values/03.jpg")
          .values-item__content
            span.values-item__note Профессионализм
            h3.values-item__title Мы эффективно и надёжно выполняем свою работу
            p.values-item__text Заботимся о своевременности и качестве реализации проектов и услуг, работаем над нашим профессиональным развитием и отслеживаем тенденции и инновации в индустрии гостеприимства


        li.values__item.values-item
          .values-item__image
            img(src="./assets/img/values/05.jpg")
          .values-item__content
            span.values-item__note Клиентоориентированность
            h3.values-item__title Вся наша деятельность построена ради интересов Гостей
            p.values-item__text Мы стремимся предвосхищать их ожидания и предоставляем нашим Гостям самое высокое качество услуг


