.contacts
  .contacts__container.container
    h2.title-section.contacts__title Развивайтесь и стройте карьеру у моря
    p.contacts__subtitle Мы всегда готовы ответить на ваши вопросы
    .contacts__map.contacts-map
      img.contacts-map__image(src="./assets/img/contacts/map-contacts.svg")
      .contacts-map__point
      .contacts-map__label.contacts-map-label
        img.contacts-map-label__icon(src="./assets/img/contacts/ru.svg")
        b.contacts-map-label__title Крым, Россия
        p.contacts-map-label__address Ceло Оползневое, Генерала Острякова 9

    ul.contacts__list

      li.contacts__item.contacts-item
        b.contacts-item__title Адрес
        span.contacts-item__description С нетерпением ждём в гости
        a.contacts-item__link(href="") Крым, село Оползневое, улица Генерала Острякова 9

      li.contacts__item.contacts-item
        b.contacts-item__title По вопросам вакансий
        span.contacts-item__description Ежедневно с 9:00 до 18:00
        a.contacts-item__link(href="mailto:job@mriyaresort.com") job@mriyaresort.com

      li.contacts__item.contacts-item
        b.contacts-item__title По общим вопросам
        span.contacts-item__description Круглосуточно
        a.contacts-item__link(href="mailto:info@mriyaresort.com") info@mriyaresort.com

      li.contacts__item.contacts-item
        b.contacts-item__title Отдел кадров
        span.contacts-item__description Ежедневно с 9:00 до 18:00
        a.contacts-item__link(href="tel:+78005008964") 8 800 500 89 64
