.slider
  .container.slider__container
    .swiper-wrapper

      .swiper-slide.slider__slide
        .slider__card
          img(src="../assets/img/slider/01.png")

      .swiper-slide.slider__slide
        .slider__card
          img(src="../assets/img/slider/02.png")

      .swiper-slide.slider__slide
        .slider__card
          img(src="../assets/img/slider/01.png")

      .swiper-slide.slider__slide
        .slider__card
          img(src="../assets/img/slider/02.png")

    .slider-nav__prev
    .slider-nav__next
